<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductVersion="$(env.CLIVERSION)" ?>

  <?define ProductName = "Microsoft Azure DevOps Services CLI Preview" ?>
  <?define ProductDescription = "Command-line tools for Azure DevOps Services." ?>
  <?define ProductAuthor = "Microsoft Corporation" ?>
  <?define ProductResources = ".\resources\" ?>

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductAuthor)"
           UpgradeCode="A3124FAB-0CD5-4F00-B84A-FB3498F709FA">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize" />

    <Media Id="1" Cabinet="WindowsAzdosCLI.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AzdosCliIcon" SourceFile="$(var.ProductResources)AzdosCli.ico" />

    <Property Id="ARPPRODUCTICON" Value="AzdosCliIcon" />
    <Property Id="ARPHELPLINK" Value="https://aka.ms/azdos-cli-msi-help" />
    <Property Id="ARPURLINFOABOUT" Value="https://aka.ms/azdos-cli-msi-info-about" />
    <Property Id="ARPURLUPDATEINFO" Value="https://aka.ms/azdos-cli-msi-update-info" />
    <Property Id="ApplicationFolderName" Value="Microsoft SDKs\Azdos\Cli" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <Feature Id="ProductFeature"
             Title="Microsoft Azure DevOps Services CLI Preview"
             Level="1"
             AllowAdvertise="no">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!--Custom action to propagate path env variable change-->
    <Binary Id="PropagateEnvChangeExe" SourceFile=".\propagate_env_change\propagate_env_change.exe" />
    <Property Id="WixQuietExecCmdLine" Value="propagate_env_change.exe"/>
    <!--Ignoring the return value if case there is app-hang we can't control -->
    <CustomAction Id="PropagateEnvChange"
                  BinaryKey="PropagateEnvChangeExe"
                  ExeCommand="propagate_env_change.exe"
                  Execute="commit"
                  Return="ignore"/>
    <InstallExecuteSequence>
      <Custom Action="PropagateEnvChange" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <!-- User Interface -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProductResources)CLI_LICENSE.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProductResources)Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProductResources)Banner.bmp" />

    <UIRef Id="WixUI_Minimal"/>
    <UIRef Id="WixUI_ErrorProgressText"/>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SDKFOLDER" Name="Microsoft SDKs">
          <Directory Id="VSTSFOLDER" Name="VSTS">
            <Directory Id="VSTSCLIFOLDER" Name="CLI">
              <Directory Id="DynamicCliDir"/>
              <Directory Id="BIN" Name="Bin" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AzdosCliSettingsGroup">
      <Component Id="RemoveCLIFolder"
                 Directory="DynamicCliDir"
                 Guid="{ABAADB9C-3B1A-470B-AA0F-60419BBF77DB}">
        <RemoveFolder Id="DynamicCliDir" On="uninstall" />
      </Component>
      <Component Id="RemoveAzdosCLIFolder"
                 Directory="VSTSCLIFOLDER"
                 Guid="{7CF0CCA5-D20D-450C-8140-B41107DCBB5C}">
        <RemoveFolder Id="VSTSCLIFOLDER" On="uninstall" />
      </Component>
      <Component Id="AzdosCliSystemPath"
                 Directory="DynamicCliDir"
                 Guid="{52845AC4-A5B9-46F9-AA3A-3DB5F1FF301F}">
        <Environment Id="AzdosCliAddedToPATH"
                     Name="PATH"
                     Value="[DynamicCliDir]wbin"
                     Permanent="no"
                     Part="first"
                     Action="set"
                     System="yes" />
        <CreateFolder />
      </Component>
      <Component Id="AzdosCliRegistry"
                 Directory="DynamicCliDir"
                 Guid="{4299BB94-27B9-40CF-B43C-1C0A58258CE0}">
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\$(var.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
      <Component Id="AzdosCliVersion"
                 Directory="DynamicCliDir"
                 Guid="{C28D146F-C395-43A3-A832-DFFF5F613D9D}">
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\$(var.ProductName)"
                       Name="version"
                       Type="string"
                       Value="$(var.ProductVersion)"
                       KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents">
      <ComponentGroupRef Id="AzdosCliComponentGroup"/>
      <ComponentGroupRef Id="AzdosCliSettingsGroup"/>
    </ComponentGroup>

  </Fragment>
</Wix>
