# This is a comment.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @atbagga @gauravsaralMs @ishitam8

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/doc/  @geverghe
