[flake8]
max-line-length = 120
max-complexity = 10
ignore =
    # line too long, it is covered by pylint
    E501,
    # bare except, bad practice, to be removed in the future
    E722,
    # imported but unused, too many violations, to be removed in the future 
    F401,
    # redefinition of unused, to be removed in the future  
    F811,
    # code flow is too complex, too many violations, to be removed in the future  
    C901,
    # line break after binary operator effect on readability is subjective  
    W504
exclude = 
    tests
    build
    tools
    scripts
    doc
    build_scripts
	*/test/*
    */devops_sdk/*