# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

pr: none

trigger: none

jobs:

- job: 'Run_Test_Mac'
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip && pip install -r requirements.txt
    displayName: 'Install dependencies'

  - task: PowerShell@2
    displayName: 'Setup test machine'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/setupCiMachine.ps1'

  - task: PowerShell@2
    displayName: 'Run Tests'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/runTests.ps1'
      arguments: '$True'
  
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()

  - task: CmdLine@2
    displayName: 'calculate sha256 for generated wheel'
    inputs:
      script: 'certutil -hashfile azure-devops/dist/azure_devops-0.2.0-py2.py3-none-any.whl sha256' 

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Wheel as artifact'
    inputs:
      pathtoPublish: 'azure-devops/dist' 
      artifactName: 'azure-devops-cli-package' 
      publishLocation: 'Container'