interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/wiql/253d8eb4-0bd1-4c92-adc9-d305c8b99b92
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2025-01-09T12:03:48.547Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Id"},{"referenceName":"System.WorkItemType","name":"Work
        Item Type","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.WorkItemType"},{"referenceName":"System.Title","name":"Title","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Title"},{"referenceName":"System.AssignedTo","name":"Assigned
        To","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.AssignedTo"},{"referenceName":"System.State","name":"State","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.State"},{"referenceName":"System.Tags","name":"Tags","url":"https://dev.azure.com/v-anvashist0376/_apis/wit/fields/System.Tags"}],"workItems":[{"id":40,"url":"https://dev.azure.com/v-anvashist0376/b023dc57-8bd5-493a-b139-54ae60562ae9/_apis/wit/workItems/40"},{"id":41,"url":"https://dev.azure.com/v-anvashist0376/b023dc57-8bd5-493a-b139-54ae60562ae9/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 502acd70-ec50-4c3a-98d3-66175d6e0767
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 88a65841-a8fd-4b0f-a108-9ea69243960e
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-total-count:
      - '2'
      x-vss-e2eid:
      - 502acd70-ec50-4c3a-98d3-66175d6e0767
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems?ids=40%2C41&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2025-01-09T12%3A03%3A48.547Z
  response:
    body:
      string: '{"count":2,"value":[{"id":40,"rev":2,"fields":{"System.Id":40,"System.WorkItemType":"Issue","System.State":"To
        Do","System.Title":"Test"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/40"},{"id":41,"rev":5,"fields":{"System.Id":41,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Test2"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - f57e57ef-9f7a-49db-a131-dab6ac7a4462
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f67fe30c-390f-4652-b7be-afa958a8a0b7
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - f57e57ef-9f7a-49db-a131-dab6ac7a4462
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo],
      [System.State], [System.Tags] from WorkItems where [System.TeamProject] = ''WorkItemCreateShowUpdateDeleteTests''
      and [System.WorkItemType] = ''Task''"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/wit/workItems?ids=41&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2025-01-09T12%3A03%3A49.163Z
  response:
    body:
      string: '{"count":1,"value":[{"id":41,"rev":5,"fields":{"System.Id":41,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Test2"},"url":"https://dev.azure.com/v-anvashist0376/_apis/wit/workItems/41"}]}'
    headers:
      activityid:
      - 3f660d47-bc34-4d12-a9b7-5ba1e881c048
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f660d47-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
