interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 5906fcf7-c35e-4e2c-95ae-c20fc252afe4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ef62c8d8-57d0-45d9-9945-591841fe0702
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 5906fcf7-c35e-4e2c-95ae-c20fc252afe4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "IterationProj_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"47149038-097d-4653-bf3b-5c653ee4f315","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/47149038-097d-4653-bf3b-5c653ee4f315"}'
    headers:
      activityid:
      - 6dbb4694-c53b-45b4-97e2-afdc5b940aae
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 6abe9380-b74b-4198-98ac-417b576bd8fc
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 6dbb4694-c53b-45b4-97e2-afdc5b940aae
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/47149038-097d-4653-bf3b-5c653ee4f315
  response:
    body:
      string: '{"id":"47149038-097d-4653-bf3b-5c653ee4f315","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/47149038-097d-4653-bf3b-5c653ee4f315","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/47149038-097d-4653-bf3b-5c653ee4f315"}}}'
    headers:
      activityid:
      - 2040e38b-965f-499a-8200-e21653a4341f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1fe68555-dd80-40aa-ac4c-54cfc066dccd
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 2040e38b-965f-499a-8200-e21653a4341f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/IterationProj_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d","name":"IterationProj_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":30037,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/IterationProj_000001"}},"visibility":"private","defaultTeam":{"id":"21decbcc-df33-4700-a616-0e7af6bf078e","name":"IterationProj_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/teams/21decbcc-df33-4700-a616-0e7af6bf078e"},"lastUpdateTime":"2026-03-31T18:17:18.32Z"}'
    headers:
      activityid:
      - 019387fb-ef3d-4a21-8727-a4c18bb40cf0
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - aa47a120-07cc-4130-8312-866d012d5d0c
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 019387fb-ef3d-4a21-8727-a4c18bb40cf0
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations?$depth=1
  response:
    body:
      string: '{"id":10604,"identifier":"ceb6d70c-a9b1-486e-921f-844fd47ec3d0","name":"IterationProj_000001","structureType":"iteration","hasChildren":true,"children":[{"id":10606,"identifier":"c736c58f-3607-4fa5-bcc8-937b56dbd118","name":"Sprint
        1","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\Sprint
        1","url":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations/Sprint%201"}],"path":"\\IterationProj_000001\\Iteration","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations"}'
    headers:
      activityid:
      - 8690edbe-f76c-4836-b210-7ca8a0b05dcf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 17336af7-6c3b-47da-a16f-940953142346
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 8690edbe-f76c-4836-b210-7ca8a0b05dcf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamName1_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/IterationProj_000001/teams
  response:
    body:
      string: '{"id":"3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd","name":"teamName1_000002","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/teams/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd","description":"","identityUrl":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd","projectName":"IterationProj_000001","projectId":"c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d","identity":{"id":"3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-2813067207-3364486213-2673614652-2731541133-1-1186030686-2624140359-2291501328-646957615","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODEzMDY3MjA3LTMzNjQ0ODYyMTMtMjY3MzYxNDY1Mi0yNzMxNTQxMTMzLTEtMTE4NjAzMDY4Ni0yNjI0MTQwMzU5LTIyOTE1MDEzMjgtNjQ2OTU3NjE1","providerDisplayName":"[IterationProj_000001]\\teamName1_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d"},"Account":{"$type":"System.String","$value":"teamName1_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"d0e46a19-69d2-4bf3-ad9d-01f803946bde"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d"},"SecuringHostId":{"$type":"System.String","$value":"a9bae0de-049f-43b5-a1ff-18f8f805fbe8"},"ScopeName":{"$type":"System.String","$value":"IterationProj_000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - f4fb00bf-2089-4b0a-8ab6-60f57e515775
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f295e51c-8c89-41d2-9c33-3459dbe464cd
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - f4fb00bf-2089-4b0a-8ab6-60f57e515775
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"attributes": {}, "name": "teamName1_000002_Root_Itr_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations
  response:
    body:
      string: '{"id":10608,"identifier":"a384788e-738c-4d8a-85eb-382aae10b905","name":"teamName1_000002_Root_Itr_000003","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\teamName1_000002_Root_Itr_000003","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"},"parent":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"}'
    headers:
      activityid:
      - 87d01bd8-a25d-447b-958a-cb6b0b789adf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003
      x-tfs-processid:
      - 80c25b53-e900-455d-b014-2482382944d4
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 87d01bd8-a25d-447b-958a-cb6b0b789adf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":10607,"identifier":"089dc4d4-d455-468c-a558-33415ce6393[...]
- request:
    body: '{"attributes": {}, "name": "Child_Itr_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string:[...]
[...]
- request:
    body: '{"attributes": {"startDate": "2019-06-17T00:00:00", "finishDate": "2019-06-28T00:00:00"},
      "name": "Child_Itr_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string: '{"id":10[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes?ids=10609
  response:
    body:
      string: '{"count":1,"value":[{"id":10609,"identifier":"de824369-0007-47c5-90c3-730f387941[...]
[...]
- request:
    body: '{"id": 10610}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003%5CChild_Itr_000004
  response:
    body:
      string: '{"id":10610,[...]
[...]
- request:
    body: '{"url": "https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004",
      "_links": {}, "attributes": {}, "hasChildren": true, "id": 10609, "identifier":
      "de824369-0007-47c5-90c3-730f387941d8", "name": "Child_Itr_000004", "structureType":
      "iteration"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 8690f390-f76c-4836-b210-7ca8a0b05dcf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 17336af7-6c3b-47da-a16f-940953142346
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 8690f390-f76c-4836-b210-7ca8a0b05dcf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "a384788e-738c-4d8a-85eb-382aae10b905"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF400497: The backlog iteration
        path that you specified is no longer valid.","typeName":"Microsoft.Azure.Boards.Agile.Common.Exceptions.InvalidTeamSettingsException,
        Microsoft.Azure.Boards.Agile.Common","typeKey":"InvalidTeamSettingsException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - cdcd8f5d-a28f-49c0-b318-3af94c44af4a
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - ca73b85e-7cab-47c0-aac9-794ab250907f
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - cdcd8f5d-a28f-49c0-b318-3af94c44af4a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings
  response:
    body:
      string: '{"backlogIteration":{"id":"00000000-0000-0000-0000-000000000000"},"bugsBehavior":"off","workingDays":["monday","tuesday","wednesday","thursday","friday"],"backlogVisibilities":{"Microsoft.EpicCategory":true,"Microsoft.RequirementCategory":true},"defaultIteration":null,"defaultIterationMacro":"@currentIteration","url":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/teams/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd"},"teamIterations":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations"},"teamFieldValues":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/teamfieldvalues"}}}'
    headers:
      activityid:
      - f4fb1eae-2089-4b0a-8ab6-60f57e515775
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f295e51c-8c89-41d2-9c33-3459dbe464cd
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - f4fb1eae-2089-4b0a-8ab6-60f57e515775
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "de824369-0007-47c5-90c3-730f387941d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"id":"de824369-0007-47c5-90c3-730f387941d8","name":"Child_Itr_000004","path":"IterationProj_000001\\teamName1_000002_Root_Itr_000003\\Child_Itr_000004","attributes":{"startDate":null,"finishDate":null,"timeFrame":"current"},"url":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations/de824369-0007-47c5-90c3-730f387941d8","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations/de824369-0007-47c5-90c3-730f387941d8"},"project":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d"},"team":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/teams/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd"},"teamSettings":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings"},"teamIterations":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations"},"capacity":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations/de824369-0007-47c5-90c3-730f387941d8/capacities"},"workitems":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations/de824369-0007-47c5-90c3-730f387941d8/workitems"},"classificationNode":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004"},"teamDaysOff":{"href":"https://dev.azure.com/v-anvashist0376/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d/3f4fedbd-0dd6-4ca3-85f3-842e0ca64fcd/_apis/work/teamsettings/iterations/de824369-0007-47c5-90c3-730f387941d8/teamdaysoff"}}}'
    headers:
      activityid:
      - 8690f2f7-f76c-4836-b210-7ca8a0b05dcf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 17336af7-6c3b-47da-a16f-940953142346
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 8690f2f7-f76c-4836-b210-7ca8a0b05dcf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations/de824369-0007-47c5-90c3-730f387941d8
  response:
    body:
      string: ''
    headers:
      activityid:
      - f4fb61d8-2089-4b0a-8ab6-60f57e515775
      x-tfs-processid:
      - f295e51c-8c89-41d2-9c33-3459dbe464cd
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - f4fb61d8-2089-4b0a-8ab6-60f57e515775
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/c7ffaba7-89c8-45fc-9f5c-1f3ca2d0028d
  response:
    body:
      string: '{"id":"51f02700-7718-43c1-89a6-6aa152fa573e","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/51f02700-7718-43c1-89a6-6aa152fa573e"}'
    headers:
      activityid:
      - 6dbb9f0a-c53b-45b4-97e2-afdc5b940aae
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 6abe9380-b74b-4198-98ac-417b576bd8fc
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 6dbb9f0a-c53b-45b4-97e2-afdc5b940aae
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/51f02700-7718-43c1-89a6-6aa152fa573e
  response:
    body:
      string: '{"id":"51f02700-7718-43c1-89a6-6aa152fa573e","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/51f02700-7718-43c1-89a6-6aa152fa573e","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/51f02700-7718-43c1-89a6-6aa152fa573e"}}}'
    headers:
      activityid:
      - 2040ba1c-965f-499a-8200-e21653a4341f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1fe68555-dd80-40aa-ac4c-54cfc066dccd
      x-tfs-session:
      - 4283bb55-abe1-4965-bbc2-fa96cdc2f765
      x-vss-e2eid:
      - 2040ba1c-965f-499a-8200-e21653a4341f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
