interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 30073785-a039-45b4-8930-8874f390e308
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects?stateFilter=all&$top=1&$skip=0
  response:
    body:
      string: '{"count":1,"value":[{"id":"82f02fb4-752b-49be-a47f-d3f34e01e941","name":"BugBashTesting","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/82f02fb4-752b-49be-a47f-d3f34e01e941","state":"wellFormed","revision":36,"visibility":"organization","lastUpdateTime":"2023-11-28T11:07:03.527Z"}]}'
    headers:
      activityid:
      - 72b4e4a5-676f-4cf1-8186-751e5f5b7309
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-ms-continuationtoken:
      - '1'
      x-tfs-processid:
      - fac43496-6b3e-4e8b-a2a7-d83c4a294ef7
      x-tfs-session:
      - 30073785-a039-45b4-8930-8874f390e308
      x-vss-e2eid:
      - 72b4e4a5-676f-4cf1-8186-751e5f5b7309
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-TFS-FedAuthRedirect:
      - Suppress
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: OPTIONS
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis
  response:
    body:
      string: '{"value":[{"id":"06bcc74a-1491-4eb8-a0eb-704778f9d041","area":"ClientTrace","resourceName":"Events","routeTemplate":"_apis/{area}/{resource}","resourceVersion":1,"minVersion":"4.1","maxVersion":"7.2","releasedVersion":"0.0"},{"id":"9ada205e-a0d0-4d4b-8e33-9955b724471a","area":"CodeMapper","resourceName":"CodeMapper","routeTemplate":"_apis/{resource}","resourceVersion":1,"minVersion":"5.1","maxVersion":"7.1","releasedVersion":"0.0"},{"id":"3505911e-ead6-431a-8656-b61c5d3b07a3","area":"contentViolation","resourceName":"reports","routeTemplate":"_apis/{area}/{resource}","resourceVersion":1,"minVersion":"5.0","maxVersion":"7.2","releasedVersion":"0.0"},{"id":"2648442b-fd63-4b9a-902f-0c913510f139","area":"Contribu[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 30073785-a039-45b4-8930-8874f390e308
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?top=100
  response:
    body:
      string: '{"members":[{"user":{"subjectKind":"user","metaType":"member","directoryAlias":"v-anvashist","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"v-anvashist@microsoft.com","mailAddress":"v-anvashist@microsoft.com","origin":"aad","originId":"ae9ada11-e6f0-41ba-8136-a4597491c5a0","displayName":"Anjali
        Vashist","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0","descriptor":"aad.OTA3YzVmNGQtYjRmMi03ZDk2LWIyZmUtMzEyMjc1YjU1Njc0"},"extensions":[],"id":"907c5f4d-b4f2-6d96-b2fe-312275b55674","accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"active","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"2023-12-22T11:20:28.3068792Z","dateCreated":"2023-07-06T08:54:16.4174545Z","projectEntitlements":[],"groupAssignments":[]},{"user":{"subjectKind":"user","directoryAlias":"v-agadekar","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"v-agadekar@microsoft.com","mailAddress":"v-agadekar@microsoft.com","origin":"aad","originId":"e8b29432-1973-4e20-aaf8-6163f07aa8bd","displayName":"Arvind
        Gadekar (MINDTREE LIMITED)","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.YWUwODM5ZmUtMjllNC03OTcwLWI3ZGQtNjVmYjVjZmE4MWU2"},"memberships":{"href":"https://vssps.d[...]
- request:
    body: null
    headers:
      X-TFS-FedAuthRedirect:
      - Suppress
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: OPTIONS
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis
  response:
    body:
      string: '{"value":[{"id":"260d23de-ca9a-488d-85e1-f39ee8b5cec5","area":"AadConditionalAccessPolicy","resourceName":"access","routeTemplate":"_apis/{area}/tenant/{tenantId}/identity/{subjectDescriptor}/{resource}","resourceVersion":1,"minVersion":"0.0","maxVers[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 30073785-a039-45b4-8930-8874f390e308
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2023-12-29T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 8466aa21-4789-4c82-86c5-022861d8a2ba
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 081c96f1-7db4-4929-bbc8-a489a58d88ad
      x-tfs-session:
      - 30073785-a039-45b4-8930-8874f390e308
      x-vss-e2eid:
      - 8466aa21-4789-4c82-86c5-022861d8a2ba
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 30073785-a039-45b4-8930-8874f390e308
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements/323989e2-d2d7-4483-9903-d20b58fa7258
  response:
    body:
      string: ''
    headers:
      activityid:
      - 7bc093ea-0473-4152-b553-b8598a044f08
      x-tfs-processid:
      - 9affb3fb-8fcf-4fd2-aed3-9bf153783300
      x-tfs-session:
      - 30073785-a039-45b4-8930-8874f390e308
      x-vss-e2eid:
      - 7bc093ea-0473-4152-b553-b8598a044f08
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 30073785-a039-45b4-8930-8874f390e308
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"470736a0-3afe-43e1-bb07-807e44e860c7","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"memberships":{"href":"https://vssps[...]
[...]
- request:
    body: '[{"op": "replace", "path": "/accessLevel", "value": {"accountLicenseType":
      "express"}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 30073785-a039-45b4-8930-8874f390e308
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements/323989e2-d2d7-4483-9903-d20b58fa7258
  response:
    body:
      string: '{"operationResults":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad[...]
[...]
