interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 3f66b116-bc34-4d12-a9b7-5ba1e881c048
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f66b116-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesFolderTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"e2427f90-cb19-4230-a883-74073d81cb8a","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e2427f90-cb19-4230-a883-74073d81cb8a"}'
    headers:
      activityid:
      - 502a5e8a-ec50-4c3a-98d3-66175d6e0767
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 88a65841-a8fd-4b0f-a108-9ea69243960e
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 502a5e8a-ec50-4c3a-98d3-66175d6e0767
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/e2427f90-cb19-4230-a883-74073d81cb8a
  response:
    body:
      string: '{"id":"e2427f90-cb19-4230-a883-74073d81cb8a","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e2427f90-cb19-4230-a883-74073d81cb8a","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/e2427f90-cb19-4230-a883-74073d81cb8a"}}}'
    headers:
      activityid:
      - ddbcdcc3-9398-44c4-98df-d700ec98e222
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3901d335-29e2-486a-bcde-ee940b508064
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - ddbcdcc3-9398-44c4-98df-d700ec98e222
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/pipelinesFolderTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"524456e1-3d99-4d8c-9ee0-d4fb81aef407","name":"pipelinesFolderTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/524456e1-3d99-4d8c-9ee0-d4fb81aef407","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":3899,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/524456e1-3d99-4d8c-9ee0-d4fb81aef407"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001"}},"visibility":"private","defaultTeam":{"id":"b636ae6f-2e82-4e38-8898-dad111a07a75","name":"pipelinesFolderTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/524456e1-3d99-4d8c-9ee0-d4fb81aef407/teams/b636ae6f-2e82-4e38-8898-dad111a07a75"},"lastUpdateTime":"2025-01-09T12:05:19.69Z"}'
    headers:
      activityid:
      - 4b0459e7-f053-47e2-88c6-c9e400a49ea6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2b52a6a4-1674-4b4b-ad2f-8d852d443e9d
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 4b0459e7-f053-47e2-88c6-c9e400a49ea6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Test folder", "path": "TestFolder"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders/TestFolder
  response:
    body:
      string: '{"path":"\\TestFolder","description":"Test folder","createdOn":"2025-01-09T12:05:21.037Z","createdBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"project":{"id":"524456e1-3d99-4d8c-9ee0-d4fb81aef407","name":"pipelinesFolderTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/524456e1-3d99-4d8c-9ee0-d4fb81aef407","state":"wellFormed","revision":3899,"visibility":"private","lastUpdateTime":"2025-01-09T12:05:19.69Z"}}'
    headers:
      activityid:
      - ed5c5d60-fd01-4a91-9477-d298b178d430
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 9236a0d7-51e7-4864-93c5-420c8f9fc6df
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - ed5c5d60-fd01-4a91-9477-d298b178d430
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders/TestFolder?queryOrder=folderAscending
  response:
    body:
      string: '{"count":1,"value":[{"path":"\\TestFolder","description":[...]
- request:
    body: '{"createdBy": {"_links": {}, "descriptor": "aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1",
      "displayName": "Soujanya Bestala (MINDTREE LIMITED)", "url": "https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385",
      "id": "22157d54-1821-6536-a446-928b06348385", "imageUrl": "https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOT[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders?queryOrder=folderAscending
  response:
    body:
      string: '{"count":3,"value":[{"path":"\\","createdOn":"2025-01-09T12:05:19.03[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/pipelinesFolderTest000001/_apis/build/folders/%5CTesting%5CTestFolder
  response:
    body:
      string: ''
    headers:
      activityid:
      - 3f66beb8-bc34-4d12-a9b7-5ba1e881c048
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f66beb8-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/524456e1-3d99-4d8c-9ee0-d4fb81aef407
  response:
    body:
      string: '{"id":"82fb4d30-df19-424e-b8f4-fe96ff56fb2c","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/82fb4d30-df19-424e-b8f4-fe96ff56fb2c"}'
    headers:
      activityid:
      - 4b045ee5-f053-47e2-88c6-c9e400a49ea6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2b52a6a4-1674-4b4b-ad2f-8d852d443e9d
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 4b045ee5-f053-47e2-88c6-c9e400a49ea6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/82fb4d30-df19-424e-b8f4-fe96ff56fb2c
  response:
    body:
      string: '{"id":"82fb4d30-df19-424e-b8f4-fe96ff56fb2c","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/82fb4d30-df19-424e-b8f4-fe96ff56fb2c","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/82fb4d30-df19-424e-b8f4-fe96ff56fb2c"}}}'
    headers:
      activityid:
      - f57ee5d7-9f7a-49db-a131-dab6ac7a4462
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f67fe30c-390f-4652-b7be-afa958a8a0b7
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - f57ee5d7-9f7a-49db-a131-dab6ac7a4462
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
