interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 707674ec-22d4-4f96-8bb4-67c695a99ed2
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 865630da-427a-4519-b323-404c19b933ba
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 707674ec-22d4-4f96-8bb4-67c695a99ed2
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "GroupTests_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"0f641d67-7f97-4f16-bd4b-0ab98f1a0baa","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/0f641d67-7f97-4f16-bd4b-0ab98f1a0baa"}'
    headers:
      activityid:
      - a384530c-5c13-4d69-93ae-180af2e4335f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f0cc8af9-5aae-4d3f-b662-53aa879eabfe
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - a384530c-5c13-4d69-93ae-180af2e4335f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/0f641d67-7f97-4f16-bd4b-0ab98f1a0baa
  response:
    body:
      string: '{"id":"0f641d67-7f97-4f16-bd4b-0ab98f1a0baa","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/0f641d67-7f97-4f16-bd4b-0ab98f1a0baa","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/0f641d67-7f97-4f16-bd4b-0ab98f1a0baa"}}}'
    headers:
      activityid:
      - 59a906c5-c35e-4e2c-95ae-c20fc252afe4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ef62c8d8-57d0-45d9-9945-591841fe0702
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 59a906c5-c35e-4e2c-95ae-c20fc252afe4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/GroupTests_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"d8e7e7fd-44d3-47f8-9c72-5c7907714bf1","name":"GroupTests_000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":30386,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/GroupTests_000001"}},"visibility":"private","defaultTeam":{"id":"6a200d7d-3dfd-4ac9-84da-308e27d0e61f","name":"GroupTests_000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1/teams/6a200d7d-3dfd-4ac9-84da-308e27d0e61f"},"lastUpdateTime":"2026-04-01T09:06:34.573Z"}'
    headers:
      activityid:
      - 59a90dae-c35e-4e2c-95ae-c20fc252afe4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ef62c8d8-57d0-45d9-9945-591841fe0702
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 59a90dae-c35e-4e2c-95ae-c20fc252afe4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/GroupTests_000001
  response:
    body:
      string: '{"id":"d8e7e7fd-44d3-47f8-9c72-5c7907714bf1","name":"GroupTests_000001","url":"https://dev.azure.com/v-anvas[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Descriptors/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1
  response:
    body:
      string: '{"value":"scp.NzgzNjVlZmItNGNjOC00OWQwLWI3NzktNDc1ZWExMzk5YmZk","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Descriptors/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/scp.NzgzNjVlZmItNGNjOC00OWQwLWI3NzktNDc1ZWExMzk5YmZk"},"subject":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Scopes/scp.NzgzNjVlZmItNGNjOC00OWQwLWI3NzktNDc1ZWExMzk5YmZk"}}}'
    headers:
      activityid:
      - 40160b86-df47-436e-8bcc-5e5a61ba5ac7
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f22227a0-eb64-47f8-b99e-3e0a2fb7b17f
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 40160b86-df47-436e-8bcc-5e5a61ba5ac7
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups?scopeDescriptor=scp.NzgzNjVlZmItNGNjOC00OWQwLWI3NzktNDc1ZWExMzk5YmZk
  response:
    body:
      string: '{"count":6,"value":[{"subjectKind":"group","description":"The default
        project team.","domain":"vstfs:///Classification/TeamProject/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1","principalName":"[GroupTests_000001]\\GroupTests_000001
        Team","mailAddress":null,"origin":"vsts","originId":"6a200d7d-3dfd-4ac9-84da-308e27d0e61f","displayName":"GroupTests_000001
        Team","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx","descriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"},{"subjectKind":"group","description":"Members
        of this group have access to the team project.","domain":"vstfs:///Classification/TeamProject/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1","principalName":"[GroupTests_000001]\\Readers","mailAddress":null,"origin":"vsts","originId":"3a1d79a5-4ec1-47bb-8d94-48877556c6f1","displayName":"Readers","_links"[...]
- request:
    body: null
    headers:
      X-TFS-FedAuthRedirect:
      - Suppress
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: OPTIONS
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis
  response:
    body:
      string: '{"value":[{"id":"06bcc74a-1491-4eb8-a0eb-704778f9d041","area":"ClientTrace","resourceName":"Events","routeTemplate":"_apis/{area}/{resource}","resourceVersion":1,"minVersion":"4.1","maxVersion":"7.2","releasedVersion":"0.0"},{"id":"9ada205e-a0d0-4d4b-8e33-9955b724471a","area":"CodeMapper","resourceName":"CodeMapper","routeTemplate":"_apis/{resource}","resourceVersion":1,"minVersion":"5.1","maxVersion":"7.1","releasedVersion":"0.0"},{"id":"3505911e-ead6-431a-8656-b61c5d3b07a3","area":"contentViolation","resourceName":"reports","routeTemplate":"_apis/{area}/{resource}","resourceVersion":1,"minVersion":"5.0","maxVersion":"7.2","releasedVersion":"0.0"},{"id":"2648442b-fd63-4b9a-902f-0c913510f139","area":"Contribu[...]
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/v-anvashist0376/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"13c339a7-87fe-44fb-a2cd-ab5d467a948c","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"323989e2-d2d7-4483-9903-d20b58fa7258","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"012ed025-5cc0-4f1a-a7da-a98916f8f04f","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"memberships":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"membershipState":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/MembershipStates/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"storageKey":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/StorageKeys/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"}},"url":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Users/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","descriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4"},"extensions":[],"id":"323989e2-d2d7-4483-9903-d20b58fa7258","accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","gitHubLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2026-04-01T09:06:47.0205298Z","projectEntitlements":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - 5b24a2cf-2eb7-4847-b53d-76ac1e56d01f
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 946fd507-552f-497f-8f72-f705f4f3d30a
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 5b24a2cf-2eb7-4847-b53d-76ac1e56d01f
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTAtMC0wLTAtMw?direction=down
  response:
    body:
      string: '{"count":5,"value":[{"containerDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTAtMC0wLTAtMw","memberDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx","_links":{"self":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTAtMC0wLTAtMw"},"member":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"},"container":{"href":"https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTAtMC0wLTAtMw"}}},{"containerDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTAtMC0wLTAtMw","memberDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0xMDg3MTg4ODAyLTI2MzA0MDkwMzUtMjQxNDM2NjQxMi00MjkzNDAwNDQ2","_links":{"self":{"href":"htt[...]
- request:
    body: '{"lookupKeys": [{"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0yMjY5OTk0OTU2LTExNDI5MzY2NTEtMjE2NzU4MjA0My0zMzUwNjY0NDQx"},
      {"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS0xMDg3MTg4ODAyLTI2MzA0MDkwMzUtMjQxNDM2NjQxMi00MjkzNDAwNDQ2"},
      {"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjU5ODMzODE2LTM1NDQ1MTI1ODMtMjYyNDc0MDQ3My0xMjQ4NjU1MjEtMS00MjQ1Njc4MjY5LTE5NTg2MjE3NjctMjkzNDc5OTM3MS0xOTky[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMTMzNDc3MjE4LTM2Nzg0MDQ5NDItMjk0MzQ1NDY1Mi0zMDMwNjk5Mjc0
  resp[...]
[...]
- request:
    body: '{"displayName": "project security GroupName_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups?scopeDescriptor=scp.NzgzNjVlZmItNGNjOC00OWQwLWI3NzktNDc1ZWExMzk5YmZk&groupDescriptors=vssgp.Uy0xLTktMT[...]
[...]
- request:
    body: '{"displayName": "project security GroupName_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups?scopeDescriptor=scp.NzgzNjVlZmItNGNjOC00OWQwLWI3NzktNDc1ZWExMzk5YmZk&groupDescriptors=vssgp.Uy0xLTktMT[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMjgxMzg4Mjg3Ny0zMTI0OTg0MTMwLTI4NzQxOTUyOTUtMzg1NjQ1NTQxOA?direction=down
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 09e67207-a64f-425b-90be-bdfe763fd795
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 9f433c4b-76c0-4167-9d3f-cb59d340b5c3
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 09e67207-a64f-425b-90be-bdfe763fd795
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMjgxMzg4Mjg3Ny0zMTI0OTg0MTMwLTI4NzQxOTUyOTUtMzg1NjQ1NTQxOA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMjgxMzg4Mjg3Ny0zMTI0OTg0MTMwLTI4NzQxOTUyOTUtMzg1NjQ1NTQxOA[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"323989e2-d2d7-4483-9903-d20b58fa7258","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2026-04-01T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"012ed025-5cc0-4f1a-a7da-a98916f8f04f"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 462ee326-3106-413e-a994-560b1214a78e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - b51a321b-dd68-42ec-9f40-71fedf6a7a35
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 462ee326-3106-413e-a994-560b1214a78e
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/aad.NjdiY2I3OGMtZTgyYy03OWRmLWJlMmEtZTRmZjBkOTdhMmM4/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMTMzN[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMTMzNDc3MjE4LTM2Nzg0MDQ5NDItMjk0MzQ1NDY1Mi0zMDMwNjk5Mjc0?d[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: HEAD
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMjgxMzg4Mjg3Ny0zMTI0OTg0MTMwLTI4NzQxOTUyOTUtMzg1NjQ1NTQxOA/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMTMzNDc3MjE4LTM2Nzg0MDQ5NDItMjk0MzQ1NDY1Mi0zMDMwNjk5Mjc0
  response:
    body:
      string: ''
    headers:
      activityid:
      - 4017afde-df47-436e-8bcc-5e5a61ba5ac7
      www-authenticate:
      - Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47
      x-tfs-fedauthissuer:
      - https://www.visualstudio.com/
      x-tfs-fedauthrealm:
      - https://spsprodcin2.vssps.visualstudio.com/
      x-tfs-processid:
      - f22227a0-eb64-47f8-b99e-3e0a2fb7b17f
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-authorizationendpoint:
      - https://vssps.dev.azure.com/v-anvashist0376/
      x-vss-e2eid:
      - 4017afde-df47-436e-8bcc-5e5a61ba5ac7
      x-vss-resourcetenant:
      - 72f988bf-86f1-41af-91ab-2d7cd011db47
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"op": "replace", "path": "/displayName", "value": "project security GroupName_000006"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0Nzc[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://vssps.dev.azure.com/v-anvashist0376/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS00MjE3MjU1NTQ0LTMzNjA0NzcyNTctMzA3ODE3ODY1NC0yNzA0OTA3MjYxLTEtMjgxMzg4Mjg3Ny0zMTI0OTg0MTMwLTI4NzQxOTUyOTUtMzg1NjQ1NTQxOA
  response:
    body:
      string: ''
    headers:
      activityid:
      - 462e3b0c-3106-413e-a994-560b1214a78e
      x-tfs-processid:
      - b51a321b-dd68-42ec-9f40-71fedf6a7a35
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 462e3b0c-3106-413e-a994-560b1214a78e
      x-vss-senderdeploymentid:
      - 12151c76-78d9-45df-bc19-5b98a8c97843
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/d8e7e7fd-44d3-47f8-9c72-5c7907714bf1
  response:
    body:
      string: '{"id":"06da1bc7-6b47-4492-b4a1-bbc1b2ee140f","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/06da1bc7-6b47-4492-b4a1-bbc1b2ee140f"}'
    headers:
      activityid:
      - 59abce68-c35e-4e2c-95ae-c20fc252afe4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ef62c8d8-57d0-45d9-9945-591841fe0702
      x-tfs-session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      x-vss-e2eid:
      - 59abce68-c35e-4e2c-95ae-c20fc252afe4
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 73e65180-72bd-486c-94ec-097ce8408b18
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/06da1bc7-6b47-4492-b4a1-bbc1b2ee140f
  response:
    body:
[...]
