interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Definitions?name=BuildTests%20Definition1
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=4"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/definition?definitionId=20"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/designer?id=20&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/20"}},"quality":"definition","authoredBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72"}},"id":72,"name":"Azure
        Pipelines","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":20,"name":"BuildTests Definition1","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=4","uri":"vstfs:///Build/Definition/20","path":"\\","type":"build","queueStatus":"enabled","revision":4,"createdDate":"2025-01-07T04:49:37.713Z","project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"}}]}'
    headers:
      activityid:
      - 77385ec7-04c5-44b5-988c-fb9642700c8f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 69a73b13-8409-40ee-84dc-85191619ffbd
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 77385ec7-04c5-44b5-988c-fb9642700c8f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"id": 20}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Builds
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Builds/108"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/results?buildId=108"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/builds/108/sources"},"timeline":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/builds/108/Timeline"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/20"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"3ad8aca2-f65a-4460-87ff-e1356ce83595"}],"triggerInfo":{},"id":108,"buildNumber":"20250109.4","status":"notStarted","queueTime":"2025-01-09T12:05:25.6595755Z","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Builds/108","definition":{"drafts":[],"id":20,"name":"BuildTests
        Definition1","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=4","uri":"vstfs:///Build/Definition/20","path":"\\","type":"build","queueStatus":"enabled","revision":4,"project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"}},"buildNumberRevision":4,"project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"},"uri":"vstfs:///Build/Build/108","sourceBranch":"refs/heads/main","sourceVersion":"0c756bc38c22ef705682d60ea1de2598c108f0fd","queue":{"id":72,"name":"Azure
        Pipelines","pool":{"id":9,"name":"Azure Pipelines","isHosted":true}},"priority":"normal","reason":"manual","requestedFor":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"requestedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"lastChangedDate":"2025-01-09T12:05:26.527Z","lastChangedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"orchestrationPlan":{"planId":"3ad8aca2-f65a-4460-87ff-e1356ce83595"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/builds/108/logs"},"repository":{"id":"6255c947-5f27-47d6-9776-8b2478b91680","type":"TfsGit","name":"BuildTests
        Definition1","url":"https://dev.azure.com/v-anvashist0376/buildtests/_git/BuildTests%20Definition1","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null,"appendCommitMessageToRunName":true}'
    headers:
      activityid:
      - 4b045390-f053-47e2-88c6-c9e400a49ea6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2b52a6a4-1674-4b4b-ad2f-8d852d443e9d
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 4b045390-f053-47e2-88c6-c9e400a49ea6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "Cancelling"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Builds/108
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e[...]
