interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - c80caedd-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80caedd-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"70c08bf2-a58f-46a3-8a43-b294f8409f05","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/70c08bf2-a58f-46a3-8a43-b294f8409f05"}'
    headers:
      activityid:
      - c3b9f82b-508b-4248-a39a-210278f7f66d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8315de1a-d8a0-46cd-93cc-707f864fbd7d
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c3b9f82b-508b-4248-a39a-210278f7f66d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/70c08bf2-a58f-46a3-8a43-b294f8409f05
  response:
    body:
      string: '{"id":"70c08bf2-a58f-46a3-8a43-b294f8409f05","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/70c08bf2-a58f-46a3-8a43-b294f8409f05","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/70c08bf2-a58f-46a3-8a43-b294f8409f05"}}}'
    headers:
      activityid:
      - b3b07a40-1a5b-4491-ad34-c80e18b18fdf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e660e7cb-b043-4a5e-b0d7-12df32c018af
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - b3b07a40-1a5b-4491-ad34-c80e18b18fdf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/policyTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":4714,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/policyTest000001"}},"visibility":"private","defaultTeam":{"id":"cce76726-7efa-49d4-befd-afa5683b7389","name":"policyTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/teams/cce76726-7efa-49d4-befd-afa5683b7389"},"lastUpdateTime":"2025-01-10T12:23:07.617Z"}'
    headers:
      activityid:
      - a45c1de8-5b17-4d5a-b686-c9991b393abc
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8f2b1ae3-e6d9-4a09-8ab2-07c4be4da8e9
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - a45c1de8-5b17-4d5a-b686-c9991b393abc
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories
  response:
    body:
      string: '{"id":"5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed","name":"policyTest000002","url":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed","project":{"id":"0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63","state":"wellFormed","revision":4714,"visibility":"private","lastUpdateTime":"2025-01-10T12:23:07.617Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - cdb5463a-998e-4f88-adb8-ea61b478bf5c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ad8f91be-e4b4-4b44-909f-0682230b83e4
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - cdb5463a-998e-4f88-adb8-ea61b478bf5c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed/importRequests
  response:
    body:
      string: '{"importRequestId":193,"repository":{"id":"5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed","name":"policyTest000002","url":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed","project":{"id":"0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63","name":"policyTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63","state":"wellFormed","revision":4714,"visibility":"private","lastUpdateTime":"2025-01-10T12:23:07.617Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/v-anvashist0376/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed/importRequests/193"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed"}},"url":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed/importRequests/193"}'
    headers:
      activityid:
      - c6ebab51-2b67-463f-9f7d-9a9cc55eabb2
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 3b10a939-2702-407a-b448-22aebf6e87a7
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c6ebab51-2b67-463f-9f7d-9a9cc55eabb2
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/git/repositories/5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed/importRequests/193
  response:
    body:
      string: '{"importRequestId":193,"r[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/policy/configurations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 13547994-8baf-40d7-932b-d68ed21219c9
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 17aa7385-4f16-4de3-9513-425337341e2b
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - 13547994-8baf-40d7-932b-d68ed21219c9
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"type": {"id": "fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}, "isBlocking":
      true, "isEnabled": true, "settings": {"scope": [{"repositoryId": "5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed",
      "refName": "refs/heads/master", "matchKind": "exact"}], "useSquashMerge": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/policy/configurations
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"createdDate":"2025-01-10T12:23:16.1818124","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":{"scope":[{"refName":"refs/heads/master","matchKind":"Exact","repositoryId":"5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed"}]},"isEnterpriseManaged":false,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/policy/configurations/89"},"policyType":{"href":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}},"revision":1,"id":89,"url":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/policy/configurations/89","type":{"id":"fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","url":"https://dev.azure.com/v-anvashist0376/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","displayName":"Require
        a merge strategy"}}'
    headers:
      activityid:
      - c3b9eedf-508b-4248-a39a-210278f7f66d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8315de1a-d8a0-46cd-93cc-707f864fbd7d
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c3b9eedf-508b-4248-a39a-210278f7f66d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/policyTest000001/_apis/policy/configurations/89
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"createdDate":"2025-01-10T12:23:16.1818124Z","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":[...]
{"scope": [{"repositoryId": "5d4ca8b0-760f-4a93-b0af-aa5dd9b205ed",
      "refName": "refs/heads/master", "matchKind": "Exact"}], "allowSquash": false,
      "allowRebase": true, "allowRebaseMerge": false, "allowNoFastForward": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/policyTest000001/_apis/policy/configurations/89
  response:
    body:
      string: '{"createdBy":{"displayName":"Soujanya Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstud[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/0ab36b7f-ccfa-4e4c-a2a1-71ddd3aceb63
  response:
    body:
      string: '{"id":"cada2b9b-5708-46b6-bfde-de4d4845f004","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/cada2b9b-5708-46b6-bfde-de4d4845f004"}'
    headers:
      activityid:
      - c80d6240-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80d6240-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/cada2b9b-5708-46b6-bfde-de4d4845f004
  response:
    body:
      string: '{"id":"cada2b9b-5708-46b6-bfde-de4d4845f004","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/cada2b9b-5708-46b6-bfde-de4d4845f004","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/cada2b9b-5708-46b6-bfde-de4d4845f004"}}}'
    headers:
      activityid:
      - fb52d937-be0d-4a19-8ce9-0d39645b53f3
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ebc27bd6-e233-48fc-84cf-198b1b312201
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - fb52d937-be0d-4a19-8ce9-0d39645b53f3
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
