interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - c80cc2bb-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80cc2bb-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"3fb05cbf-9df7-43a9-b807-59c52cc586b4","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/3fb05cbf-9df7-43a9-b807-59c52cc586b4"}'
    headers:
      activityid:
      - c6ea54bc-2b67-463f-9f7d-9a9cc55eabb2
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 3b10a939-2702-407a-b448-22aebf6e87a7
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c6ea54bc-2b67-463f-9f7d-9a9cc55eabb2
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/3fb05cbf-9df7-43a9-b807-59c52cc586b4
  response:
    body:
      string: '{"id":"3fb05cbf-9df7-43a9-b807-59c52cc586b4","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/3fb05cbf-9df7-43a9-b807-59c52cc586b4","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/3fb05cbf-9df7-43a9-b807-59c52cc586b4"}}}'
    headers:
      activityid:
      - c80cc266-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80cc266-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/pipelinesTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":4704,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001"}},"visibility":"private","defaultTeam":{"id":"cdb431ae-3d1e-4e22-95f2-1c62a9daf7b3","name":"pipelinesTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487/teams/cdb431ae-3d1e-4e22-95f2-1c62a9daf7b3"},"lastUpdateTime":"2025-01-10T12:22:30.663Z"}'
    headers:
      activityid:
      - b3b0ac1a-1a5b-4491-ad34-c80e18b18fdf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e660e7cb-b043-4a5e-b0d7-12df32c018af
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - b3b0ac1a-1a5b-4491-ad34-c80e18b18fdf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"20fb57f1-3b28-4b06-8e0b-27ef65624fdf","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf","project":{"id":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487","state":"wellFormed","revision":4704,"visibility":"private","lastUpdateTime":"2025-01-10T12:22:30.663Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - b3b0ac65-1a5b-4491-ad34-c80e18b18fdf
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e660e7cb-b043-4a5e-b0d7-12df32c018af
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - b3b0ac65-1a5b-4491-ad34-c80e18b18fdf
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/importRequests
  response:
    body:
      string: '{"importRequestId":191,"repository":{"id":"20fb57f1-3b28-4b06-8e0b-27ef65624fdf","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf","project":{"id":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487","state":"wellFormed","revision":4704,"visibility":"private","lastUpdateTime":"2025-01-10T12:22:30.663Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/importRequests/191"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf"}},"url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/importRequests/191"}'
    headers:
      activityid:
      - c80cc821-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80cc821-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/importRequests/191
  response:
    body:
      string: '{"importRequestId":191,"repository":{"id":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?name=ContosoBuild
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - a45c3622-5b17-4d5a-b686-c9991b393abc
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 8f2b1ae3-e6d9-4a09-8ab2-07c4be4da8e9
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - a45c3622-5b17-4d5a-b686-c9991b393abc
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/pipelinesTest000001
  response:
    body:
      string: '{"id":"20fb57f1-3b28-4b06-8e0b-27ef65624fdf","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf","project":{"id":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487","state":"wellFormed","revision":4704,"visibility":"private","lastUpdateTime":"2025-01-10T12:22:30.663Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf"},"project":{"href":"vstfs:///Classification/TeamProject/355e4a16-52a9-4cf5-aff6-b142f4329487"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/git/repositories/20fb57f1-3b28-4b06-8e0b-27ef65624fdf/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 13558a34-8baf-40d7-932b-d68ed21219c9
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 17aa7385-4f16-4de3-9513-425337341e2b
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - 13558a34-8baf-40d7-932b-d68ed21219c9
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/distributedtask/queues
  response:
    body:
      string: '{"count":9,"value":[{"id":3934,"projectId":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"Default","pool":{"id":1,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Default","isHosted":false,"poolType":"automation","size":0,"isLegacy":false,"options":"none"}},{"id":3935,"projectId":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"Hosted","pool":{"id":2,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"options":"none"}},{"id":3936,"projectId":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"Hosted
        VS2017","pool":{"id":3,"scope":"2ad38d1e-3eaf-4769-931c-3a2da67bbb01","name":"Hosted
        VS2017","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,[...]
- request:
    body: '{"name": "ContosoBuild", "queue": {"id": 3941}, "description": "Pipeline
      for contoso project", "process": {"yamlFilename": "azure-pipelines.yml", "type":
      2}, "repository": {"defaultBranch": "main", "id": "20fb57f1-3b28-4b06-8e0b-27ef65624fdf",
      "name": "pipelinesTest000001", "type": "tfsgit"}, "triggers": [{"settingsSourceType":
      2, "triggerType": 2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/build/Definitions/47?revision=1"},"web":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_build/definition?definitionId=47"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_build/designer?id=47&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/build/status/47"}},"description":"Pipeline
        for contoso project","jobAuthorizationScope":"projectCollection","process":{"yamlFilename":"azure-pipelines.yml","type":2},"repository":{"id":"20fb57f1-3b28-4b06-8e0b-27ef65624fdf","type":"TfsGit","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","defaultBranch":"main","clean":null,"checkoutSubmodules":false},"quality":"definition","authoredBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/3941"}},"id":3941,"name":"Hosted
        Ubuntu 1604","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/3941","pool":{"id":8,"name":"Hosted
        Ubuntu 1604","isHosted":true}},"id":47,"name":"ContosoBuild","url":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/build/Definitions/47?revision=1","uri":"vstfs:///Build/Definition/47","path":"\\","type":"build","queueStatus":"enabled","revision":1,"createdDate":"2025-01-10T12:22:41.07Z","project":{"id":"355e4a16-52a9-4cf5-aff6-b142f4329487","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487","state":"wellFormed","revision":4704,"visibility":"private","lastUpdateTime":"2025-01-10T12:22:30.663Z"}}'
    headers:
      activityid:
      - c3b9de4b-508b-4248-a39a-210278f7f66d
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 8315de1a-d8a0-46cd-93cc-707f864fbd7d
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c3b9de4b-508b-4248-a39a-210278f7f66d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"createdDate": "2025-01-10T12:22:41.070Z", "id": 47, "name":
      "ContosoBuild", "path": "\\", "project": {"id": "355e4a16-52a9-4cf5-aff6-b142f4329487",
      "lastUpdateTime": "2025-01-10T12:22:30.663Z", "name": "pipelinesTest000001",
      "revision": 4704, "state": "wellFormed", "url": "https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487",
      "visibility": "private"}, "queueStatus": "enabled", "revision": 1, "type": "build",
      "uri": "vstfs:///[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/47
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/47
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/build/Definitions/47?revision=2"},"web":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_build/definition?definitionId=47"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_build/designer?id=47&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/355[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions/47
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true},"var2":{"value":"value2"}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_apis/build/Definitions/47?revision=3"},"web":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_build/definition?definitionId=47"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/355e4a16-52a9-4cf5-aff6-b142f4329487/_build/designer?id=47&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anva[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?queryOrder=none
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/355e4a16-52a9-4cf5-aff6-b142f4329487
  response:
    body:
      string: '{"id":"94124b8f-1c5f-453a-a499-a1e9a9e18fa9","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/94124b8f-1c5f-453a-a499-a1e9a9e18fa9"}'
    headers:
      activityid:
      - c80ca0b4-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80ca0b4-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/94124b8f-1c5f-453a-a499-a1e9a9e18fa9
  response:
    body:
      string: '{"id":"94124b8f-1c5f-453a-a499-a1e9a9e18fa9","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/94124b8f-1c5f-453a-a499-a1e9a9e18fa9","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/94124b8f-1c5f-453a-a499-a1e9a9e18fa9"}}}'
    headers:
      activityid:
      - fb521fe2-be0d-4a19-8ce9-0d39645b53f3
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ebc27bd6-e233-48fc-84cf-198b1b312201
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - fb521fe2-be0d-4a19-8ce9-0d39645b53f3
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
