interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 95e008e7-7080-4c42-9ebd-6e49c0eb7e95
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ab7dfb60-fca6-46f8-87b0-59de34dd7bdd
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - 95e008e7-7080-4c42-9ebd-6e49c0eb7e95
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "varGroupTests000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"e9c0fec0-45db-49aa-9634-00727b4e80c7","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e9c0fec0-45db-49aa-9634-00727b4e80c7"}'
    headers:
      activityid:
      - fb52a3ea-be0d-4a19-8ce9-0d39645b53f3
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ebc27bd6-e233-48fc-84cf-198b1b312201
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - fb52a3ea-be0d-4a19-8ce9-0d39645b53f3
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/e9c0fec0-45db-49aa-9634-00727b4e80c7
  response:
    body:
      string: '{"id":"e9c0fec0-45db-49aa-9634-00727b4e80c7","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e9c0fec0-45db-49aa-9634-00727b4e80c7","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/e9c0fec0-45db-49aa-9634-00727b4e80c7"}}}'
    headers:
      activityid:
      - a45c94d1-5b17-4d5a-b686-c9991b393abc
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8f2b1ae3-e6d9-4a09-8ab2-07c4be4da8e9
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - a45c94d1-5b17-4d5a-b686-c9991b393abc
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/varGroupTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"2c2bf6e8-cba2-4dcb-80d6-86eaf14998f6","name":"varGroupTests000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2c2bf6e8-cba2-4dcb-80d6-86eaf14998f6","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":4744,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/2c2bf6e8-cba2-4dcb-80d6-86eaf14998f6"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/varGroupTests000001"}},"visibility":"private","defaultTeam":{"id":"322db195-bdca-4d89-a1fe-c358f8c48c58","name":"varGroupTests000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/2c2bf6e8-cba2-4dcb-80d6-86eaf14998f6/teams/322db195-bdca-4d89-a1fe-c358f8c48c58"},"lastUpdateTime":"2025-01-10T12:24:45.127Z"}'
    headers:
      activityid:
      - cdb4c733-998e-4f88-adb8-ea61b478bf5c
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ad8f91be-e4b4-4b44-909f-0682230b83e4
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - cdb4c733-998e-4f88-adb8-ea61b478bf5c
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Sample group description", "name": "group1", "type": "Vsts",
      "variables": {"var1": {"isSecret": false, "value": "value1"}, "var2": {"isSecret":
      false, "value": "value2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":47,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"displayName":null,"id":"22157d54-1821-6536-a446-928b06348385"},"createdOn":"2025-01-10T12:24:46.1066667Z","modifiedBy":{"displayName":null,"id":"22157d54-1821-6536-a446-928b06348385"},"modifiedOn":"2025-01-10T12:24:46.1066667Z","isShared":false,"variableGroupProjectReferences":[{"projectReference":{"id":"2c2bf6e8-cba2-4dcb-80d6-86eaf14998f6","name":"varGroupTests000001"},"name":"group1","description":"Sample
        group description"}]}'
    headers:
      activityid:
      - 7abc88aa-b400-416e-8fb6-23dadb2519b5
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 7684c2a2-7a9b-4fb0-a8b3-8eeada50c3cb
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - 7abc88aa-b400-416e-8fb6-23dadb2519b5
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"authorized": true, "id": "47", "name": "group1", "type": "variablegroup"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/build/authorizedresources
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"47","authorized":true}]}'
    headers:
      activityid:
      - c80d3363-9ae0-466d-8d66-ba1fb5c3d503
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - f7905e4e-fe71-43d5-ac2f-357ec587d429
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c80d3363-9ae0-466d-8d66-ba1fb5c3d503
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups?queryOrder=idDescending
  response:
    body:
      string: '{"count":2,"value":[{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":48,"type":"Vsts","name":"group2","description":"Sample
        group description","createdBy":{"displayName":"Soujanya Bestala (MINDTREE
        LIMITED)","id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com"},"createdOn":"2025-01-10T12:24:46.9866667Z","modifiedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com"},"modifiedOn":"2025-01-10T12:24:46.9866667Z","isShared":false,"variableGroupProjectReferences":null},{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":47,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"di[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/47
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":47,"type"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/build/authorizedresources?type=variablegroup&id=47
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"47","authorized":true}]}'
    headers:
      activityid:
      - 1354e384-8baf-40d7-932b-d68ed21219c9
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 17aa7385-4f16-4de3-9513-425337341e2b
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - 1354e384-8baf-40d7-932b-d68ed21219c9
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-10T12:24:46.986666Z", "description": "NewDescription",
      "id": 48, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-10T12:24:49.700Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/48
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"},"NewVar1":{"valu[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-10T12:24:46.986666Z", "description": "NewDescription",
      "id": 48, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-10T12:24:50.896666Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}, "NewVar2": {"isSecret":
      true, "value": "NewVal2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/48
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"v[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Soujanya Bestala (MINDTREE LIMITED)", "id":
      "22157d54-1821-6536-a446-928b06348385", "uniqueName": "v-sbestala@microsoft.com"},
      "createdOn": "2025-01-10T12:24:46.986666Z", "description": "NewDescription",
      "id": 48, "isShared": false, "modifiedBy": {"displayName": "Soujanya Bestala
      (MINDTREE LIMITED)", "id": "22157d54-1821-6536-a446-928b06348385", "uniqueName":
      "v-sbestala@microsoft.com"}, "modifiedOn": "2025-01-10T12:24:51.530Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar2": {"isSecret": true}, "NewVar1Updated": {"isSecret":
      true, "value": "1234"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/varGroupTests000001/_apis/distributedtask/variablegroups/48
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"valu[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/2c2bf6e8-cba2-4dcb-80d6-86eaf14998f6
  response:
    body:
      string: '{"id":"8e3939c9-900e-444b-bada-bcf42c4a8021","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8e3939c9-900e-444b-bada-bcf42c4a8021"}'
    headers:
      activityid:
      - c3b66fc1-508b-4248-a39a-210278f7f66d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8315de1a-d8a0-46cd-93cc-707f864fbd7d
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - c3b66fc1-508b-4248-a39a-210278f7f66d
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/8e3939c9-900e-444b-bada-bcf42c4a8021
  response:
    body:
      string: '{"id":"8e3939c9-900e-444b-bada-bcf42c4a8021","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/8e3939c9-900e-444b-bada-bcf42c4a8021","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/8e3939c9-900e-444b-bada-bcf42c4a8021"}}}'
    headers:
      activityid:
      - fb52b2d4-be0d-4a19-8ce9-0d39645b53f3
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ebc27bd6-e233-48fc-84cf-198b1b312201
      x-tfs-session:
      - a4d476f9-689c-40c3-b4a9-fee152f3d62f
      x-vss-e2eid:
      - fb52b2d4-be0d-4a19-8ce9-0d39645b53f3
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
