interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Definitions?name=BuildTests%20Definition1
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=4"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/definition?definitionId=20"},"editor":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/designer?id=20&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/20"}},"quality":"definition","authoredBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72"}},"id":72,"name":"Azure
        Pipelines","url":"https://dev.azure.com/v-anvashist0376/_apis/build/Queues/72","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":20,"name":"BuildTests Definition1","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=4","uri":"vstfs:///Build/Definition/20","path":"\\","type":"build","queueStatus":"enabled","revision":4,"createdDate":"2025-01-07T04:49:37.713Z","project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"}}]}'
    headers:
      activityid:
      - 502a4ff5-ec50-4c3a-98d3-66175d6e0767
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 88a65841-a8fd-4b0f-a108-9ea69243960e
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 502a4ff5-ec50-4c3a-98d3-66175d6e0767
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"id": 20}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/Builds
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Builds/109"},"web":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_build/results?buildId=109"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/builds/109/sources"},"timeline":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/builds/109/Timeline"},"badge":{"href":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/status/20"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"f3a2c169-c799-48b2-b9af-0454f9850358"}],"triggerInfo":{},"id":109,"buildNumber":"20250109.5","status":"notStarted","queueTime":"2025-01-09T12:05:31.6047167Z","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Builds/109","definition":{"drafts":[],"id":20,"name":"BuildTests
        Definition1","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/Definitions/20?revision=4","uri":"vstfs:///Build/Definition/20","path":"\\","type":"build","queueStatus":"enabled","revision":4,"project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"}},"buildNumberRevision":5,"project":{"id":"70642ceb-5192-4e9e-8ec0-865714dc08b7","name":"buildtests","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/70642ceb-5192-4e9e-8ec0-865714dc08b7","state":"wellFormed","revision":73,"visibility":"organization","lastUpdateTime":"2023-12-26T06:21:02.863Z"},"uri":"vstfs:///Build/Build/109","sourceBranch":"refs/heads/main","sourceVersion":"0c756bc38c22ef705682d60ea1de2598c108f0fd","queue":{"id":72,"name":"Azure
        Pipelines","pool":{"id":9,"name":"Azure Pipelines","isHosted":true}},"priority":"normal","reason":"manual","requestedFor":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"requestedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"lastChangedDate":"2025-01-09T12:05:31.733Z","lastChangedBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"orchestrationPlan":{"planId":"f3a2c169-c799-48b2-b9af-0454f9850358"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/v-anvashist0376/70642ceb-5192-4e9e-8ec0-865714dc08b7/_apis/build/builds/109/logs"},"repository":{"id":"6255c947-5f27-47d6-9776-8b2478b91680","type":"TfsGit","name":"BuildTests
        Definition1","url":"https://dev.azure.com/v-anvashist0376/buildtests/_git/BuildTests%20Definition1","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null,"appendCommitMessageToRunName":true}'
    headers:
      activityid:
      - 3f6682fe-bc34-4d12-a9b7-5ba1e881c048
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f6682fe-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/builds/109/tags/TestTag0
  response:
    body:
      string: '{"count":1,"value":["TestTag0"]}'
    headers:
      activityid:
      - 4b0449c0-f053-47e2-88c6-c9e400a49ea6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2b52a6a4-1674-4b4b-ad2f-8d852d443e9d
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 4b0449c0-f053-47e2-88c6-c9e400a49ea6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '["TestTag1", "TestTag2"]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/builds/109/tags
  response:
    body:
      string: '{"count":3,"value":["TestTag0","TestTag1","TestTag2"]}'
    headers:
      activityid:
      - 3f668fde-bc34-4d12-a9b7-5ba1e881c048
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f668fde-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/buildtests/_apis/build/builds/109/tags
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 3f668982-bc34-4d12-a9b7-5ba1e881c048
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f668982-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
