interactions:
- request:
    body: '{"assetTypes": ["Microsoft.VisualStudio.Services.Icons.Default", "Microsoft.VisualStudio.Services.Icons.Branding",
      "Microsoft.VisualStudio.Services.Icons.Small"], "filters": [{"criteria": [{"filterType":
      8, "value": "Microsoft.VisualStudio.Services"}, {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Integration"},
      {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Cloud"}, {"filterType":
      8, "value": "Microsoft.TeamFoundation.Server"}, {"filterType": 8, "value": "Microsoft.TeamFoundation.Server.Integration"},
      {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Cloud.Integration"},
      {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Resource.Cloud"},
      {"filterType": 10, "value": "search"}, {"filterType": 12, "value": "37888"}],
      "direction": 2, "pageSize": 50, "pageNumber": 1, "sortBy": 0, "sortOrder": 0,
      "pagingToken": null}], "flags": 870}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery
  response:
    body:
      string: "{\"results\":[{\"extensions\":[{\"publisher\":{\"publisherId\":\"ddcb6c95-77b0-458c-8b99-44376adbc262\",\"publisherName\":\"ms\",\"displayName\":\"Microsoft\",\"flags\":\"verified\",\"domain\":\"https://microsoft.com\",\"isDomainVerified\":true},\"extensionId\":\"67dda4ed-3c53-48db-a05b-9dbe8cf7e241\",\"extensionName\":\"vss-code-search\",\"displayName\":\"Code
        Search\",\"flags\":\"validated, trusted, public, multiVersion\",\"lastUpdated\":\"2024-11-21T09:20:52.453Z\",\"publishedDate\":\"2015-11-12T14:08:26.393Z\",\"releaseDate\":\"2015-11-12T14:08:26.393Z\",\"shortDescription\":\"Code
        Search provides fast, flexible and accurate search across all your code\",\"versions\":[{\"version\":\"19.247.0.848933653\",\"flags\":\"validated\",\"lastUpdated\":\"2024-11-21T09:20:52.45Z\",\"files\":[{\"assetType\":\"Microsoft.VisualStudio.Services.Icons.Default\",\"source\":\"https://ms.gallerycdn.vsassets.io/extensions/ms/vss-code-search/19.247.0.848933653/1731482565417/Microsoft.VisualStudio.Services.Icons.Default\"},{\"assetType\":\"Microsoft.VisualStudio.Services.Icons.Small\",\"source\":\"https://ms.gallerycdn.vsassets.io/extensions/ms/vss-code-search/19.247.0.848933653/1731482565417/Microsoft.VisualStudio.Services.Icons.Small\"}],\"properties\":[{\"key\":\"Microsoft.VisualStudio.Services.Links.Support\",\"value\":\"https://developercommunity.visualstudio.com/spaces/21/index.html\"},{\"key\":\"Microsoft.VisualStudio.Services.Links.Learn\",\"value\":\"https://learn.microsoft.com/en-us/azure/devops/project/search\"}],\"assetUri\":\"https://ms.gallerycdn.vsassets.io/extensions/ms/vss-code-search/19.247.0.848933653/1731482565417\",\"fallbackAssetUri\":\"https://ms.gallery.vsassets.io/_apis/public/gallery/publisher/ms/extension/vss-code-search/19.247.0.848933653/assetbyname\"}],\"categories\":[\"Azure
        Repos\"],\"tags\":[\"$DoNotDownload\",\"Code\",\"Collaboration\",\"Filter\",\"Find\",\"Productivity\",\"Query\",\"Scope\"],\"statistics\":[{\"statisticName\":\"install\",\"value\":221346.0},{\"statisticName\":\"averagerating\",\"value\":3.4455444812774658},{\"statisticName\":\"ratingcount\",\"value\":101.0},{\"statisticName\":\"trendingdaily\",\"value\":0.00045181199199389148},{\"statisticName\":\"trendingmonthly\",\"value\":0.46943265968165326},{\"statisticName\":\"trendingweekly\",\"value\":0.11250118600647897},{\"statisticName\":\"onpremDownloads\",\"value\":504.0},{\"statisticName\":\"weightedRating\",\"value\":3.4706762435275609}],\"installationTargets\":[{\"target\":\"Microsoft.TeamFoundation.Server\",\"targetVersion\":\"\"},{\"target\":\"Microsoft.VisualStudio.Services.Cloud\",\"targetVersion\":\"\"}],\"deploymentType\":0},{\"publisher\":{\"publisherId\":\"ec7b0cd0-aa5f-4bec-adf7-984d9e084c6d\",\"publisherName\":\"ottostreifel\",\"displayName\":\"Otto
        Streifel\",\"flags\":\"verified\",\"domain\":null,\"isDomainVerified\":false},\"extensionId\":\"b41693cc-9fdc-44b3-aabd-33a03a04a212\",\"extensionName\":\"pull-request-search\",\"displayName\":\"Pull
        Request Search\",\"flags\":\"validated, public\",\"lastUpdated\":\"2019-11-18T03:20:32.647Z\",\"publishedDate\":\"2016-11-05T01:22:15.713Z\",\"release[...]
