interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/PullRequestLiveTest/_apis/git/repositories/PullRequestLiveTest/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"value":[{"repository":{"id":"e55c17e3-5cd3-48d5-b7da-007e17f06389","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/e55c17e3-5cd3-48d5-b7da-007e17f06389","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":46,"codeReviewId":46,"status":"active","createdBy":{"displayName":"Soujanya
        Bestala (MINDTREE LIMITED)","url":"https://spsprodcin2.vssps.visualstudio.com/Aa9bae0de-049f-43b5-a1ff-18f8f805fbe8/_apis/Identities/22157d54-1821-6536-a446-928b06348385","_links":{"avatar":{"href":"https://dev.azure.com/v-anvashist0376/_apis/GraphProfile/MemberAvatars/aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"}},"id":"22157d54-1821-6536-a446-928b06348385","uniqueName":"v-sbestala@microsoft.com","imageUrl":"https://dev.azure.com/v-anvashist0376/_api/_common/identityImage?id=22157d54-1821-6536-a446-928b06348385","descriptor":"aad.MjIxNTdkNTQtMTgyMS03NTM2LWE0NDYtOTI4YjA2MzQ4Mzg1"},"creationDate":"2025-01-07T10:23:01.5604878Z","title":"Updated
        README.md","description":"Updated README.md\n\n----\n#### AI description  (iteration
        1)\n#### PR Classification\nDocumentation update\n\n#### PR Summary\nMinor
        update to the `README.md` file to clarify the description of software dependencies.\n-
        `README.md`: Changed \"Software dependencies\" to \"Software dependencies
        test\" in the Getting Started section.","sourceRefName":"refs/heads/test","targetRefName":"refs/heads/main","mergeStatus":"succeeded","isDraft":false,"mergeId":"1021cae1-2cf1-4b62-96bd-bbd49fba68b4","lastMergeSourceCommit":{"commitId":"9fc126f3f87d3d0f4d89a0f85f868c843148d1c6","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/e55c17e3-5cd3-48d5-b7da-007e17f06389/commits/9fc126f3f87d3d0f4d89a0f85f868c843148d1c6"},"lastMergeTargetCommit":{"commitId":"16fe2ed3b187501cc3ad0e6081c878c77ba878c0","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/e55c17e3-5cd3-48d5-b7da-007e17f06389/commits/16fe2ed3b187501cc3ad0e6081c878c77ba878c0"},"lastMergeCommit":{"commitId":"9272354cf94cfa29beac76f48e03b4c72e99c6ac","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/e55c17e3-5cd3-48d5-b7da-007e17f06389/commits/9272354cf94cfa29beac76f48e03b4c72e99c6ac"},"reviewers":[],"url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/e55c17e3-5cd3-48d5-b7da-007e17f06389/pullRequests/46","supportsIterations":true},{"repository":{"id":"e55c17e3-5cd3-48d5-b7da-007e17f06389","name":"PullRequestLiveTest","url":"https://dev.azure.com/v-anvashist0376/b810b0b0-a954-403b-9795-f0c9d0c9cfe9/_apis/git/repositories/e55c17e3-5cd3-48d5-b7da-007e17f06389","project":{"id":"b810b0b0-a954-403b-9795-f0c9d0c9cfe9","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":45,"codeReviewId":45,"status":"active","createdBy":{"displayName":"Soujanya
 [...]
