interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/v-anvashist0376/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 502bbeae-ec50-4c3a-98d3-66175d6e0767
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 88a65841-a8fd-4b0f-a108-9ea69243960e
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 502bbeae-ec50-4c3a-98d3-66175d6e0767
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects
  response:
    body:
      string: '{"id":"e382af8c-277f-4661-b6a6-c2a1b9208b0b","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e382af8c-277f-4661-b6a6-c2a1b9208b0b"}'
    headers:
      activityid:
      - 77384427-04c5-44b5-988c-fb9642700c8f
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 69a73b13-8409-40ee-84dc-85191619ffbd
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 77384427-04c5-44b5-988c-fb9642700c8f
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/e382af8c-277f-4661-b6a6-c2a1b9208b0b
  response:
    body:
      string: '{"id":"e382af8c-277f-4661-b6a6-c2a1b9208b0b","status":"inProgress","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/e382af8c-277f-4661-b6a6-c2a1b9208b0b","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/e382af8c-277f-4661-b6a6-c2a1b9208b0b"}}}'
    headers:
      activityid:
      - 3f66912a-bc34-4d12-a9b7-5ba1e881c048
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 54604b24-217c-446b-9e36-07c1eeb903ba
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3f66912a-bc34-4d12-a9b7-5ba1e881c048
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/pipelinesTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"97e1c450-ac40-40c3-b579-c75f2f9f4e06","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":3909,"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06"},"collection":{"href":"https://dev.azure.com/v-anvashist0376/_apis/projectCollections/2ad38d1e-3eaf-4769-931c-3a2da67bbb01"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001"}},"visibility":"private","defaultTeam":{"id":"79e4ae3b-51e0-4347-8c8d-450d8642053c","name":"pipelinesTest000001
        Team","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06/teams/79e4ae3b-51e0-4347-8c8d-450d8642053c"},"lastUpdateTime":"2025-01-09T12:05:44.083Z"}'
    headers:
      activityid:
      - 3070da27-6cd8-4e16-8460-a9cacbc29496
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1e34daa6-cadf-416b-9a62-59f6904d4d9c
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 3070da27-6cd8-4e16-8460-a9cacbc29496
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"a6768564-06a2-4647-9f71-1300cca631f3","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3","project":{"id":"97e1c450-ac40-40c3-b579-c75f2f9f4e06","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06","state":"wellFormed","revision":3909,"visibility":"private","lastUpdateTime":"2025-01-09T12:05:44.083Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - 212a9fa2-7fa4-41ab-9115-8f3c610527b6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1cd70516-eb82-4b09-bca0-d6986a2d2549
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 212a9fa2-7fa4-41ab-9115-8f3c610527b6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/importRequests
  response:
    body:
      string: '{"importRequestId":156,"repository":{"id":"a6768564-06a2-4647-9f71-1300cca631f3","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3","project":{"id":"97e1c450-ac40-40c3-b579-c75f2f9f4e06","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06","state":"wellFormed","revision":3909,"visibility":"private","lastUpdateTime":"2025-01-09T12:05:44.083Z"},"size":0,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/importRequests/156"},"repository":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3"}},"url":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/importRequests/156"}'
    headers:
      activityid:
      - 212a997d-7fa4-41ab-9115-8f3c610527b6
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 1cd70516-eb82-4b09-bca0-d6986a2d2549
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 212a997d-7fa4-41ab-9115-8f3c610527b6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/importRequests/156
  response:
    body:
      string: '{"importRequestId":156,"repository":{"id":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/build/Definitions?name=ContosoBuild
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 212a83f5-7fa4-41ab-9115-8f3c610527b6
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 1cd70516-eb82-4b09-bca0-d6986a2d2549
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 212a83f5-7fa4-41ab-9115-8f3c610527b6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/git/repositories/pipelinesTest000001
  response:
    body:
      string: '{"id":"a6768564-06a2-4647-9f71-1300cca631f3","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3","project":{"id":"97e1c450-ac40-40c3-b579-c75f2f9f4e06","name":"pipelinesTest000001","url":"https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06","state":"wellFormed","revision":3909,"visibility":"private","lastUpdateTime":"2025-01-09T12:05:44.083Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://v-anvashist0376@dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3"},"project":{"href":"vstfs:///Classification/TeamProject/97e1c450-ac40-40c3-b579-c75f2f9f4e06"},"web":{"href":"https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_git/pipelinesTest000001"},"ssh":{"href":"git@ssh.dev.azure.com:v3/v-anvashist0376/pipelinesTest000001/pipelinesTest000001"},"commits":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/commits"},"refs":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/refs"},"pullRequests":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/pullRequests"},"items":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/items"},"pushes":{"href":"https://dev.azure.com/v-anvashist0376/97e1c450-ac40-40c3-b579-c75f2f9f4e06/_apis/git/repositories/a6768564-06a2-4647-9f71-1300cca631f3/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 212a8267-7fa4-41ab-9115-8f3c610527b6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 1cd70516-eb82-4b09-bca0-d6986a2d2549
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 212a8267-7fa4-41ab-9115-8f3c610527b6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/pipelinesTest000001/_apis/distributedtask/queues
  response:
    body:
      string: ''
    headers:
      activityid:
      - ddbc8c52-9398-44c4-98df-d700ec98e222
      www-authenticate:
      - Basic realm="https://tfsprodsin1.app.visualstudio.com/"
      x-tfs-processid:
      - 3901d335-29e2-486a-bcde-ee940b508064
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - ddbc8c52-9398-44c4-98df-d700ec98e222
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/v-anvashist0376/_apis/projects/97e1c450-ac40-40c3-b579-c75f2f9f4e06
  response:
    body:
      string: '{"id":"36355cd1-4e93-4030-a133-779da725b727","status":"notSet","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/36355cd1-4e93-4030-a133-779da725b727"}'
    headers:
      activityid:
      - 4b042ad0-f053-47e2-88c6-c9e400a49ea6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2b52a6a4-1674-4b4b-ad2f-8d852d443e9d
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 4b042ad0-f053-47e2-88c6-c9e400a49ea6
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/v-anvashist0376/_apis/operations/36355cd1-4e93-4030-a133-779da725b727
  response:
    body:
      string: '{"id":"36355cd1-4e93-4030-a133-779da725b727","status":"succeeded","url":"https://dev.azure.com/v-anvashist0376/_apis/operations/36355cd1-4e93-4030-a133-779da725b727","_links":{"self":{"href":"https://dev.azure.com/v-anvashist0376/_apis/operations/36355cd1-4e93-4030-a133-779da725b727"}}}'
    headers:
      activityid:
      - 502ba73b-ec50-4c3a-98d3-66175d6e0767
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 88a65841-a8fd-4b0f-a108-9ea69243960e
      x-tfs-session:
      - ad3174f2-944f-4bf0-ba38-c46df780a74e
      x-vss-e2eid:
      - 502ba73b-ec50-4c3a-98d3-66175d6e0767
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 22157d54-1821-6536-a446-928b06348385:v-sbestala@microsoft.com
    status:
      code: 200
      message: OK
version: 1
