steps:
  - task: DownloadBuildArtifacts@0
    displayName : 'Download Extension wheel from Build Artifacts'
    inputs:
      buildType: 'current'
      downloadType: 'single'
      artifactName: 'azure-devops-cli-extension'
      downloadPath: '$(System.ArtifactsDirectory)/extension'

  - task: PowerShell@2
    displayName: 'Install Downloaded Extension'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/findAndInstallExtensionFromPath.ps1'
      arguments: '$(System.ArtifactsDirectory)/extension'