interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/wiql/8c8ccd20-ce9a-4d83-9692-be5f20802d44
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2021-09-07T07:09:37.097Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/fields/System.Id"},{"referenceName":"System.WorkItemType","name":"Work
        Item Type","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/fields/System.WorkItemType"},{"referenceName":"System.Title","name":"Title","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/fields/System.Title"},{"referenceName":"System.AssignedTo","name":"Assigned
        To","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/fields/System.AssignedTo"},{"referenceName":"System.State","name":"State","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/fields/System.State"},{"referenceName":"System.Tags","name":"Tags","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/fields/System.Tags"}],"workItems":[{"id":4,"url":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/4"},{"id":5,"url":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/5"}]}'
    headers:
      activityid:
      - eab8905c-721f-4031-bcd4-c1489dac9079
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 8a3c0467-d5fc-478b-93be-e49a05f57113
      x-tfs-session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      x-total-count:
      - '2'
      x-vss-e2eid:
      - eab8905c-721f-4031-bcd4-c1489dac9079
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems?ids=4%2C5&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2021-09-07T07%3A09%3A37.097Z
  response:
    body:
      string: '{"count":2,"value":[{"id":4,"rev":1,"fields":{"System.Id":4,"System.WorkItemType":"Task","System.State":"New","System.AssignedTo":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"System.Title":"Test
        data"},"url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/4"},{"id":5,"rev":2,"fields":{"System.Id":5,"System.WorkItemType":"Bug","System.State":"Active","System.Title":"Sample
        bug for test"},"url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/5"}]}'
    headers:
      activityid:
      - 6a16b9da-dbeb-4244-9aab-6f6306445144
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 029bd02a-2f25-4065-b2f9-3c2a0e59e02b
      x-tfs-session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      x-vss-e2eid:
      - 6a16b9da-dbeb-4244-9aab-6f6306445144
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo],
      [System.State], [System.Tags] from WorkItems where [System.TeamProject] = ''WorkItemCreateShowUpdateDeleteTests''
      and [System.WorkItemType] = ''Bug'' and [System.State] = ''Active''"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      X-VSS-ForceMsaPassThrough:
   [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems?ids=5&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2021-09-07T07%3A09%3A37.937Z
  response:
    body:
      string: '{"count":1,"value":[{"id":5,"rev":2,"fields":{"System.Id":5,"System.WorkItemType":"Bug","System.State":"Active","System.Title":"Sample
        bug for test"},"url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/5"}]}'
    headers:
      activityid:
      - 6f34f6f5-f87a-48b2-bf7f-5f3234d3cdbd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 870c9a5b-502a-41a6-af59-90f8cd3b8723
      x-tfs-session:
      - 89ce91c2-cb67-45b2-92fd-06f2a1e8b48b
      x-vss-e2eid:
      - 6f34f6f5-f87a-48b2-bf7f-5f3234d3cdbd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
version: 1
