interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-TFS-FedAuthRedirect: [Suppress]
      X-TFS-Session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      X-VSS-ForceMsaPassThrough: ['true']
    method: GET
    uri: https://vsaex.dev.azure.com/AzureDevOpsCliTest/_apis/UserEntitlements?top=100
  response:
    body: {string: "{\"members\":[{\"id\":\"db3b2ff7-e66b-4c39-8571-d165b3bb983c\",\"user\":{\"subjectKind\":\"user\",\"metaType\":\"member\",\"domain\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalName\":\"atinb@microsoft.com\",\"mailAddress\":\"atinb@microsoft.com\",\"origin\":\"aad\",\"originId\":\"caf739e7-5ad8-42af-b3b9-279dc8a35508\",\"displayName\":\"Atin
        Bansal\",\"_links\":{\"self\":{\"href\":\"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\"},\"memberships\":{\"href\":\"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Memberships/aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\"},\"membershipState\":{\"href\":\"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/MembershipStates/aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\"},\"storageKey\":{\"href\":\"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/StorageKeys/aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\"},\"avatar\":{\"href\":\"https://dev.azure.com/AzureDevOpsCliTest/_apis/GraphProfile/MemberAvatars/aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\"}},\"url\":\"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\",\"descriptor\":\"aad.Y2U1NWVlMTItNTEyOS03YTEwLWEzOWMtMzUxY2YyNWVjZjg4\"},\"accessLevel\":{\"licensingSource\":\"account\",\"accountLicenseType\":\"earlyAdopter\",\"msdnLicenseType\":\"none\",\"licenseDisplayName\":\"Early
        Adopter\",\"status\":\"pending\",\"statusMessage\":\"\",\"assignmentSource\":\"unknown\"},\"lastAccessedDate\":\"0001-01-01T00:00:00Z\",\"dateCreated\":\"2018-09-27T06:07:51.887Z\",\"projectEntitlements\":[],\"extensions\":[],\"groupAssignments\":[]},{\"id\":\"86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc\",\"user\":{\"subjectKind\":\"user\",\"metaType\":\"member\",\"domain\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalName\":\"atbagga@microsoft.com\",\"mailAddress\":\"atbagga@microsoft.com\",\"origin\":\"aad\",\"originId\":\"fa5d6573-02f3-4ef1-8242-5b887561fe1d\",\"displayName\":\"Atul
        Bagga\",\"_links\":{\"self\":{\"href\":\"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.MGVjZTQ5OTktNmIyMy03OTYxLTk2ZTctOWRh[...]
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type: [application/json-patch+json; charset=utf-8]
      X-TFS-FedAuthRedirect: [Suppress]
      X-TFS-Session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      X-VSS-ForceMsaPassThrough: ['true']
    method: PATCH
    uri: https://vsaex.dev.azure.com/AzureDevOpsCliTest/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body: {string: '{"id":"6e2c46ea-ad53-42c8-b5f2-da64d7385c1d","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"isSuccess":true,"errors":[],"userId":"3edf76f5-2dca-4f66-ba70-d574907fdda9","result":{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","user":{"subjectKind":"user","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"77dd738a-1a99-4ebf-9a1e-e66cb2df7a21","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"},"memberships":{"href":"https://vssps.de[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-TFS-FedAuthRedirect: [Suppress]
      X-TFS-Session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      X-VSS-ForceMsaPassThrough: ['true']
    method: GET
    uri: https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body: {string: '{"count":1,"value":[{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2019-04-24T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"77dd738a-1a99-4ebf-9a1e-e66cb2df7a21"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'}
    headers:
      activityid: [923d1c80-2f66-4755-8cf5-f49ef26c5703]
      content-type: [application/json; charset=utf-8; api-version=5.0]
      x-tfs-processid: [505b98d2-ed80-439e-a935-73472665331c]
      x-tfs-session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      x-vss-e2eid: [923d1c80-2f66-4755-8cf5-f49ef26c5703]
      x-vss-userdata: ['99bfe5fa-1f76-617a-804a-3dea5e41a965:ishitam@microsoft.com']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-TFS-FedAuthRedirect: [Suppress]
      X-TFS-Session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      X-VSS-ForceMsaPassThrough: ['true']
    method: GET
    uri: https://vsaex.dev.azure.com/AzureDevOpsCliTest/_apis/UserEntitlements/3edf76f5-2dca-4f66-ba70-d574907fdda9
  response:
    body: {string: '{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","user":{"subjectKind":"user","domain":"72f988bf-86f1-41a[...]
[...]
- request:
    body: '[{"op": "replace", "path": "/accessLevel", "value": {"accountLicenseType":
      "express"}}]'
    headers:
      Content-Type: [application/json-patch+json; charset=utf-8]
      X-TFS-FedAuthRedirect: [Suppress]
      X-TFS-Session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      X-VSS-ForceMsaPassThrough: ['true']
    method: PATCH
    uri: https://vsaex.dev.azure.com/AzureDevOpsCliTest/_apis/UserEntitlements/3edf76f5-2dca-4f66-ba70-d574907fdda9
  response:
    body: {string: '{"operationResults":[{"isSuccess":true,"errors":[],"userId":"3edf76f5-2dca-4f66-ba70-d574907fdda9","result":{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","user":{"subjectKind":"user","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"77dd738a-1a99-4ebf-9a1e-e66cb2df7a21","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.YT[...]
[...]
- request:
    body: '[{"op": "replace", "path": "/accessLevel", "value": {"accountLicenseType":
      "none"}}]'
    headers:
      Content-Type: [application/json-patch+json; charset=utf-8]
      X-TFS-FedAuthRedirect: [Suppress]
      X-TFS-Session: [290ccd71-abb6-4723-acb0-6b46a7bcedca]
      X-VSS-ForceMsaPassThrough: ['true']
    method: PATCH
    uri: https://vsaex.dev.azure.com/AzureDevOpsCliTest/_apis/UserEntitlements/3edf76f5-2dca-4f66-ba70-d574907fdda9
  response:
    body: {string: '{"operationResults":[{"isSuccess":false,"errors":[{"key":5015,"value":"VSS012024:
        Organization user cannot be assigned a None license."}],"userId":"3edf76f5-2dca-4f66-ba70-d574907fdda9","result":{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","user":{"subjectKind":"user","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"77dd738a-1a99-4ebf-9a1e-e66cb2df7a21","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps[...]
[...]
