interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/_apis/projects?stateFilter=all&$top=1&$skip=0
  response:
    body:
      string: '{"count":1,"value":[{"id":"d42a7d78-530b-43c0-bc11-38454ff16ca3","name":"DemoProject","url":"https://dev.azure.com/syrentechnologies/_apis/projects/d42a7d78-530b-43c0-bc11-38454ff16ca3","state":"wellFormed","revision":20,"visibility":"private","lastUpdateTime":"2021-07-01T06:49:12.717Z"}]}'
    headers:
      activityid:
      - 846be782-8d17-486a-b510-344d4615d362
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-ms-continuationtoken:
      - '1'
      x-tfs-processid:
      - 24c00fa1-1da0-4eb1-961e-afc1cc53eab7
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 846be782-8d17-486a-b510-344d4615d362
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/syrentechnologies/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/syrentechnologies/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-767[...]
- request:
    body: '{"name": "refsTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/syrentechnologies/_apis/projects
  response:
    body:
      string: '{"id":"8a8c3243-e07b-4125-ab50-258937b334cc","status":"notSet","url":"https://dev.azure.com/syrentechnologies/_apis/operations/8a8c3243-e07b-4125-ab50-258937b334cc"}'
    headers:
      activityid:
      - c6f01d31-34dd-4ed8-97e3-bf7144df8554
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - c5869852-bd25-4863-a91d-649438d4bc6e
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - c6f01d31-34dd-4ed8-97e3-bf7144df8554
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/_apis/operations/8a8c3243-e07b-4125-ab50-258937b334cc
  response:
    body:
      string: '{"id":"8a8c3243-e07b-4125-ab50-258937b334cc","status":"inProgress","url":"https://dev.azure.com/syrentechnologies/_apis/operations/8a8c3243-e07b-4125-ab50-258937b334cc","_links":{"self":{"href":"https://dev.azure.com/syrentechnologies/_apis/operations/8a8c3243-e07b-4125-ab50-258937b334cc"}}}'
    headers:
      activityid:
      - 846be03e-8d17-486a-b510-344d4615d362
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 24c00fa1-1da0-4eb1-961e-afc1cc53eab7
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 846be03e-8d17-486a-b510-344d4615d362
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/_apis/projects/refsTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"aeecee08-fafa-4943-bfcc-50e7a5f6e554","name":"refsTests000001","url":"https://dev.azure.com/syrentechnologies/_apis/projects/aeecee08-fafa-4943-bfcc-50e7a5f6e554","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":58,"_links":{"self":{"href":"https://dev.azure.com/syrentechnologies/_apis/projects/aeecee08-fafa-4943-bfcc-50e7a5f6e554"},"collection":{"href":"https://dev.azure.com/syrentechnologies/_apis/projectCollections/4e8f71b7-528c-43ce-8bc1-3c28e180ed01"},"web":{"href":"https://dev.azure.com/syrentechnologies/refsTests000001"}},"visibility":"private","defaultTeam":{"id":"8462836d-6c04-427b-a910-6b40d6796f96","name":"refsTests000001
        Team","url":"https://dev.azure.com/syrentechnologies/_apis/projects/aeecee08-fafa-4943-bfcc-50e7a5f6e554/teams/8462836d-6c04-427b-a910-6b40d6796f96"},"lastUpdateTime":"2021-08-02T04:17:00.027Z"}'
    headers:
      activityid:
      - a045edcd-eb49-4b2f-864c-0f49c5a98522
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ac6509fd-4597-4feb-8a2c-58ff5f529175
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - a045edcd-eb49-4b2f-864c-0f49c5a98522
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "refsTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories
  response:
    body:
      string: '{"id":"0d636de8-cbc5-4b89-a9a4-375693cb58f2","name":"refsTests000002","url":"https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2","project":{"id":"aeecee08-fafa-4943-bfcc-50e7a5f6e554","name":"refsTests000001","url":"https://dev.azure.com/syrentechnologies/_apis/projects/aeecee08-fafa-4943-bfcc-50e7a5f6e554","state":"wellFormed","revision":58,"visibility":"private","lastUpdateTime":"2021-08-02T04:17:00.027Z"},"size":0,"remoteUrl":"https://syrentechnologies@dev.azure.com/syrentechnologies/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/syrentechnologies/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/syrentechnologies/refsTests000001/_git/refsTests000002","isDisabled":false}'
    headers:
      activityid:
      - 0874c56b-9fb7-429c-8f1c-a44f73af472e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7c132e4a-d303-4446-b398-82ab4b4b380e
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 0874c56b-9fb7-429c-8f1c-a44f73af472e
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2/importRequests
  response:
    body:
      string: '{"importRequestId":5,"repository":{"id":"0d636de8-cbc5-4b89-a9a4-375693cb58f2","name":"refsTests000002","url":"https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2","project":{"id":"aeecee08-fafa-4943-bfcc-50e7a5f6e554","name":"refsTests000001","url":"https://dev.azure.com/syrentechnologies/_apis/projects/aeecee08-fafa-4943-bfcc-50e7a5f6e554","state":"wellFormed","revision":58,"visibility":"private","lastUpdateTime":"2021-08-02T04:17:00.027Z"},"size":0,"remoteUrl":"https://syrentechnologies@dev.azure.com/syrentechnologies/refsTests000001/_git/refsTests000002","sshUrl":"git@ssh.dev.azure.com:v3/syrentechnologies/refsTests000001/refsTests000002","webUrl":"https://dev.azure.com/syrentechnologies/refsTests000001/_git/refsTests000002","isDisabled":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2/importRequests/5"},"repository":{"href":"https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2"}},"url":"https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2/importRequests/5"}'
    headers:
      activityid:
      - 935e66e8-2f54-4f49-9451-b591cd5f0a4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 7f456b8f-a426-4f99-b92e-d6748741721a
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 935e66e8-2f54-4f49-9451-b591cd5f0a4d
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2/importRequests/5
  response:
    body:
      string: '{"importRequestId":5,"rep[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"name":"refs/heads/gh-pages","objectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","creator":{"displayName":"Roshan
        Soni","url":"https://spsprodsin1.vssps.visualstudio.com/Aa930cb46-db28-4c73-a0c1-0ffc71fec3f9/_apis/Identities/54329c46-e8c8-6561-af35-67e5d1ddd573","_links":{"avatar":{"href":"https://dev.azure.com/syrentechnologies/_apis/GraphProfile/MemberAvatars/aad.NTQzMjljNDYtZThjOC03NTYxLWFmMzUtNjdlNWQxZGRkNTcz"}},"id":"54329c46-e8c8-6561-af35-67e5d1ddd573","uniqueName":"roshan.s@syrencloud.com","imageUrl":"https://dev.azure.com/syrentechnologies/_api/_common/identityImage?id=54329c46-e8c8-6561-af35-67e5d1ddd573","descriptor":"aad.NTQzMjljNDYtZThjOC03NTYxLWFmMzUtNjdlNWQxZGRkNTcz"},"url":"https://dev.azure.com/syrentechnologies/aeecee08-fafa-4943-bfcc-50e7a5f6e554/_apis/git/repositories/0d636de8-cbc5-4b89-a9a4-375693cb58f2/refs?filter=heads%2Fgh-pages"},{"name":"refs/heads/master","objectId":"c06ae011e801fea6e915d5a779f3322e6f5301a1","creator":{"displayName":"Roshan
        Soni","url":"https://spsprodsin1.vssps.visualstudio.com/Aa930cb46-db28-4c73-a0c1-0ffc71fec3f9/_apis/Identities/54329c46-e8c8-6561-af35-67e5d1ddd57[...]
- request:
    body: '[{"isLocked": false, "name": "refs/heads/branchnametocreate", "newObjectId":
      "e0d501db4f5a08fe212e8ed7a8e8035fbef62416", "oldObjectId": "0000000000000000000000000000000000000000"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/syrentechnologies/refsTests000001/_apis/git/repositories/refsTests000002/refs
  response:
    body:
      string: '{"value":[{"repositoryId":"0d636de8-cbc5-4b89-a9a4-375693cb58f2","name":"refs/heads/branchnametocreate","oldObjectId":"0000000000000000000000000000000000000000","newObjectId":"e0d501db4f5a08fe212e8ed7a8e8035fbef62416","isLocked":false,"updateStatus":"succeeded","success":true}],"count":1}'
    headers:
      activityid:
      - 846bef3e-8d17-486a-b510-344d4615d362
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 24c00fa1-1da0-4eb1-961e-afc1cc53eab7
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 846bef3e-8d17-486a-b510-344d4615d362
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/refsTests000001/_apis/git/repositories/refsTests000002/refs?filter=heads%2Fbranchnametocreate
  response:
    body:
      string: '{"value":[{"name":"refs/heads/branchnametocre[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/syrentechnologies/_apis/projects/aeecee08-fafa-4943-bfcc-50e7a5f6e554
  response:
    body:
      string: '{"id":"7f4ad929-a614-4dbc-92b2-4eb883bfec52","status":"notSet","url":"https://dev.azure.com/syrentechnologies/_apis/operations/7f4ad929-a614-4dbc-92b2-4eb883bfec52"}'
    headers:
      activityid:
      - 935e624b-2f54-4f49-9451-b591cd5f0a4d
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7f456b8f-a426-4f99-b92e-d6748741721a
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 935e624b-2f54-4f49-9451-b591cd5f0a4d
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/syrentechnologies/_apis/operations/7f4ad929-a614-4dbc-92b2-4eb883bfec52
  response:
    body:
      string: '{"id":"7f4ad929-a614-4dbc-92b2-4eb883bfec52","status":"succeeded","url":"https://dev.azure.com/syrentechnologies/_apis/operations/7f4ad929-a614-4dbc-92b2-4eb883bfec52","_links":{"self":{"href":"https://dev.azure.com/syrentechnologies/_apis/operations/7f4ad929-a614-4dbc-92b2-4eb883bfec52"}}}'
    headers:
      activityid:
      - 846be804-8d17-486a-b510-344d4615d362
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 24c00fa1-1da0-4eb1-961e-afc1cc53eab7
      x-tfs-session:
      - bd0630b3-9a66-44ca-ad0d-cdabfb14cd2b
      x-vss-e2eid:
      - 846be804-8d17-486a-b510-344d4615d362
      x-vss-userdata:
      - 54329c46-e8c8-6561-af35-67e5d1ddd573:roshan.s@syrencloud.com
    status:
      code: 200
      message: OK
version: 1
