interactions:
- request:
    body: '{"assetTypes": ["Microsoft.VisualStudio.Services.Icons.Default", "Microsoft.VisualStudio.Services.Icons.Branding",
      "Microsoft.VisualStudio.Services.Icons.Small"], "filters": [{"criteria": [{"filterType":
      8, "value": "Microsoft.VisualStudio.Services"}, {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Integration"},
      {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Cloud"}, {"filterType":
      8, "value": "Microsoft.TeamFoundation.Server"}, {"filterType": 8, "value": "Microsoft.TeamFoundation.Server.Integration"},
      {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Cloud.Integration"},
      {"filterType": 8, "value": "Microsoft.VisualStudio.Services.Resource.Cloud"},
      {"filterType": 10, "value": "search"}, {"filterType": 12, "value": "37888"}],
      "direction": 2, "pageSize": 50, "pageNumber": 1, "sortBy": 0, "sortOrder": 0,
      "pagingToken": null}], "flags": 870}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery
  response:
    body: {string: '{"results":[{"extensions":[{"publisher":{"publisherId":"ddcb6c95-77b0-458c-8b99-44376adbc262","publisherName":"ms","displayName":"Microsoft","flags":"verified"},"extensionId":"67dda4ed-3c53-48db-a05b-9dbe8cf7e241","extensionName":"vss-code-search","displayName":"Code
        Search","flags":"validated, trusted, public, multiVersion","lastUpdated":"2019-07-12T07:18:53.483Z","publishedDate":"2015-11-12T14:08:26.393Z","releaseDate":"2015-11-12T14:08:26.393Z","shortDescription":"Code
        Search provides fast, flexible and accurate search across all your code","versions":[{"version":"17.154.0.1640944814","flags":"validated","lastUpdated":"2019-07-12T07:18:56.507Z","files":[{"assetType":"Microsoft.VisualStudio.Services.Icons.Default","source":"https://ms.gallerycdn.vsassets.io/extensions/ms/vss-code-search/17.154.0.1640944814/1562915933488/Microsoft.VisualStudio.Services.Icons.Default"},{"assetType":"Microsoft.VisualStudio.Services.Icons.Small","source":"https://ms.gallerycdn.vsassets.io/extensions/ms/vss-code-search/17.154.0.1640944814/1562915933488/Microsoft.VisualStudio.Services.Icons.Small"}],"properties":[{"key":"Microsoft.VisualStudio.Services.Links.Support","value":"https://developercommunity.visualstudio.com/spaces/21/index.html"},{"key":"Microsoft.VisualStudio.Services.Links.Learn","value":"https://msdn.microsoft.com/Library/vs/alm/search/overview"}],"assetUri":"https://ms.gallerycdn.vsassets.io/extensions/ms/vss-code-search/17.154.0.1640944814/1562915933488","fallbackAssetUri":"https://ms.gallery.vsassets.io/_apis/public/gallery/publisher/ms/extension/vss-code-search/17.154.0.1640944814/assetbyname"}],"categories":["Azure
        Repos"],"tags":["$DoNotDownload","Code","Collaboration","Filter","Find","Productivity","Query","Scope"],"statistics":[{"statisticName":"install","value":120058.0},{"statisticName":"averagerating","value":3.6103897094726562},{"statisticName":"ratingcount","value":77.0},{"statisticName":"trendingdaily","value":0.00083293075013743357},{"statisticName":"trendingmonthly","value":0.95620450115777367},{"statisticName":"trendingweekly","value":0.2723683552949408},{"statisticName":"onpremDownloads","value":107.0},{"statisticName":"weightedRating","value":3.6237418377135215}],"installationTargets":[{"target":"Microsoft.TeamFoundation.Server","targetVersion":""},{"target":"Microsoft.VisualStudio.Services.Cloud","targetVersion":""}],"deploymentType":0},{"publisher":{"publisherId":"a9b8876d-8e26-4d9c-beba-0ac98e89c522","publisherName":"mikaelsnavy","displayName":"Mikael
        Stadden","flags":"verified"},"extensionId":"d3ef3eff-4310-4fee-b40b-61504bba72e3","extensionName":"azdo-azure-search","displayName":"Create
        Azure Search Objects","flags":"validated, public, preview","lastUpdated":"2019-02-15T19:47:20.537Z","publishedDate":"2018-09-28T22:13:45.127Z","releaseDate":"2019-02-15T19:47:20.537Z","shortDescription":"Use
        Create[...]
[...]
