interactions:
- request:
    body: '[{"op": "add", "path": "/fields/System.Title", "value": "samplebug"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/devops-cli-test-org/WorkItemCreateShowUpdateDeleteTests/_apis/wit/workItems/$Bug
  response:
    body:
      string: '{"id":6,"rev":1,"fields":{"System.AreaPath":"WorkItemCreateShowUpdateDeleteTests","System.TeamProject":"WorkItemCreateShowUpdateDeleteTests","System.IterationPath":"WorkItemCreateShowUpdateDeleteTests","System.WorkItemType":"Bug","System.State":"New","System.Reason":"New","System.CreatedDate":"2021-09-07T06:37:30.03Z","System.CreatedBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"System.ChangedDate":"2021-09-07T06:37:30.03Z","System.ChangedBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"System.CommentCount":0,"System.Title":"samplebug","Microsoft.VSTS.Common.StateChangeDate":"2021-09-07T06:37:30.03Z","Microsoft.VSTS.Common.Priority":2,"Microsoft.VSTS.Common.Severity":"3
        - Medium","Microsoft.VSTS.Common.ValueArea":"Business"},"_links":{"self":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/6"},"workItemUpdates":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/6/updates"},"workItemRevisions":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/6/revisions"},"workItemComments":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/6/comments"},"html":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_workitems/edit/6"},"workItemType":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItemTypes/Bug"},"fields":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/fields"}},"url":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItems/6"}'
    headers:
      activityid:
      - 0179ced7-0a59-428c-aa78-f2ef13cab2fd
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 21993ba6-29d3-4a50-a05d-802948c9225e
      x-tfs-session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      x-vss-e2eid:
      - 0179ced7-0a59-428c-aa78-f2ef13cab2fd
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/6?$expand=all
  response:
    body:
      string: '{"id":6,"rev":1,"fields":{"System.Id":6,"System.AreaId":1300,"System.AreaPath":"WorkItemCreateShowUpdateDeleteTests","System.TeamProject":"WorkItemCreateShowUpdateDeleteTests","System.NodeName":"WorkItemCreateShowUpdateDeleteTests","System.AreaLevel1":"WorkItemCreateShowUpdateDeleteTests","System.Rev":1,"System.AuthorizedDate":"2021-09-07T06:37:30.03Z","System.RevisedDate":"9999-01-01T00:00:00Z","System.IterationId":1295,"System.IterationPath":"WorkItemCreateShowUpdateDeleteTests","System.IterationLevel1":"WorkItemCreateShowUpdateDeleteTests","System.WorkItemType":"Bug","System.State":"New","System.Reason":"New","System.CreatedDate":"2021-09-07T06:37:30.03Z","System.CreatedBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTV[...]
- request:
    body: '[{"op": "add", "path": "/fields/System.State", "value": "Resolved"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/6
  response:
    body:
      string: '{"id":6,"rev":2,"fields":{"System.Ar[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/devops-cli-test-org/WorkItemCreateShowUpdateDeleteTests/_apis/wit/workItems/6?destroy=false
  response:
    body:
      string: '{"id":6,"type":"Bug","name":"samplebug","project":"WorkItemCreateShowUpdateDeleteTests","deletedDate":"9/7/2021
        6:37:32 AM","deletedBy":"Devops Cli <devops-cli@outlook.com>","code":200,"url":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/recyclebin/6","resource":{"id":6,"rev":3,"fields":{"System.AreaPath":"WorkItemCreateShowUpdateDeleteTests","System.TeamProject":"WorkItemCreateShowUpdateDeleteTests","System.IterationPath":"WorkItemCreateShowUpdateDeleteTests","System.WorkItemType":"Bug","System.State":"Resolved","System.Reason":"Fixed","System.CreatedDate":"2021-09-07T06:37:30.03Z","System.CreatedBy":"Devops
        Cli <devops-cli@outlook.com>","System.ChangedDate":"2021-09-07T06:37:32.98Z","System.ChangedBy":"Devops
        Cli <devops-cli@outlook.com>","System.CommentCount":0,"System.Title":"samplebug","Microsoft.VSTS.Common.StateChangeDate":"2021-09-07T06:37:31.433Z","Microsoft.VSTS.Common.ActivatedDate":"2021-09-07T06:37:31.433Z","Microsoft.VSTS.Common.ActivatedBy":"Devops
        Cli <devops-cli@outlook.com>","Microsoft.VSTS.Common.ResolvedDate":"2021-09-07T06:37:31.433Z","Microsoft.VSTS.Common.ResolvedBy":"Devops
        Cli <devops-cli@outlook.com>","Microsoft.VSTS.Common.ResolvedReason":"Fixed","Microsoft.VSTS.Common.Priority":2,"Microsoft.VSTS.Common.Severity":"3
        - Medium","Microsoft.VSTS.Common.ValueArea":"Business"},"_links":{"self":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/recyclebin/6"},"workItemType":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/workItemTypes/Bug"},"fields":{"href":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/fields"}},"url":"https://dev.azure.com/devops-cli-test-org/4702cb2f-7c32-4972-9ba9-17d62db9f39c/_apis/wit/recyclebin/6"}}'
    headers:
      activityid:
      - 5a24cd63-a1db-4700-ac31-2c02e94a192a
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ecab2ef8-a67f-407c-8c0b-38d8d7cfa1de
      x-tfs-session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      x-vss-e2eid:
      - 5a24cd63-a1db-4700-ac31-2c02e94a192a
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/6?$expand=all
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF401232: Work item 6 does
        not exist, or you do not have permissions to read it.","typeName":"Microsoft.TeamFoundation.WorkItemTracking.Server.WorkItemUnauthorizedAccessException,
        Microsoft.TeamFoundation.WorkItemTracking.Server","typeKey":"WorkItemUnauthorizedAccessException","errorCode":0,"eventId":3200}'
    headers:
      activityid:
      - 6a0b24fa-dbeb-4244-9aab-6f6306445144
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - 029bd02a-2f25-4065-b2f9-3c2a0e59e02b
      x-tfs-session:
      - f6f6553f-1cea-471b-b8f8-d556bd7237cf
      x-vss-e2eid:
      - 6a0b24fa-dbeb-4244-9aab-6f6306445144
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 404
      message: Not Found
version: 1
