interactions:
- request:
    body: null
    headers:
      X-TFS-FedAuthRedirect:
      - Suppress
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: OPTIONS
    uri: https://dev.azure.com/azuredevopsclitest/_apis
  response:
    body:
      string: '{"value":[{"id":"8b1e4204-96e8-41c2-81ca-5cad5cd5ef25","area":"acs","resourceName":"WRAPv0.9","routeTemplate":"{resource}","resourceVersion":1,"minVersion":"0.0","maxVersion":"6.0","releasedVersion":"5.1"},{"id":"bec0e728-8f67-4ee3-81e8-9f475d184e45","area":"AdminEngagement","resourceName":"Organization","routeTemplate":"_apis/{area}/{resource}/{action}","resourceVersion":1,"minVersion":"1.0","maxVersion":"5.1","releasedVersion":"0.0"},{"id":"37794717-f36f-4d78-b2bf-4dc30d0cfbcd","area":"approval","resourceName":"approvals","routeTemplate":"{project}/_apis/pipelines/{resource}/{approvalId}","resourceVersion":1,"minVersion":"5.1","maxVersion":"6.0","releasedVersion":"0.0"},{"id":"f502068e-83[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/ResourceAreas
  response:
    body:
      string: '{"count":216,"value":[{"id":"fb13a388-40dd-4a04-b530-013a739c72ef","name":"policy","locationUrl":"https://dev.azure.com/AzureDevOpsCliTest/"},{"id":"c73a23a1-59bb-458c-8ce3-02c83215e015","name":"Licensing","locationUrl":"https://vssps.dev.azure.com/AzureDevOpsCliTest/"},{"id":"01e4817c-857e-485c-9401-0334a33200da","name":"dedup","locationUrl":"https://vsblob.dev.azure.com/AzureDevOpsCliTest/"},{"id":"79134c72-4a58-4b42-976c-04e7115f32bf","name":"core","locationUrl":"https://dev.azure.com/AzureDevOpsCliTest/"},{"id":"aca667be-99e8-4f1a-a42b-065087b87049","name":"importregion","locationUrl":"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/AzureDevOpsCliTest/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":false,"type":"system","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":true,"type":"system","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"}]}'
    headers:
      activityid:
      - 14591c80-d1e5-44a7-a978-7428fbb43399
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7fc7be06-03da-44c1-9389-d976b6a2e34f
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 14591c80-d1e5-44a7-a978-7428fbb43399
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"name": "Permission_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "adcc42ab-9882-485e-a3ed-7678f01f66bc"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/AzureDevOpsCliTest/_apis/projects
  response:
    body:
      string: '{"id":"ed1692c1-3778-473c-a8bd-8e91e52dd3db","status":"notSet","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/operations/ed1692c1-3778-473c-a8bd-8e91e52dd3db"}'
    headers:
      activityid:
      - 14591c3b-d1e5-44a7-a978-7428fbb43399
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7fc7be06-03da-44c1-9389-d976b6a2e34f
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 14591c3b-d1e5-44a7-a978-7428fbb43399
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/operations/ed1692c1-3778-473c-a8bd-8e91e52dd3db
  response:
    body:
      string: '{"id":"ed1692c1-3778-473c-a8bd-8e91e52dd3db","status":"inProgress","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/operations/ed1692c1-3778-473c-a8bd-8e91e52dd3db","_links":{"self":{"href":"https://dev.azure.com/AzureDevOpsCliTest/_apis/operations/ed1692c1-3778-473c-a8bd-8e91e52dd3db"}}}'
    headers:
      activityid:
      - 48c8fa2b-ddd9-429f-82a3-6b291b348551
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 4b28ee05-bbd1-4847-a17a-8ec86ea2b196
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 48c8fa2b-ddd9-429f-82a3-6b291b348551
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/AzureDevOpsCliTest/_apis/projects/Permission_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"4ac6cc9e-2226-410a-bfe1-6799d14e5ce8","name":"Permission_000001","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/projects/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Agile","templateTypeId":"adcc42ab-9882-485e-a3ed-7678f01f66bc"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":41531,"_links":{"self":{"href":"https://dev.azure.com/AzureDevOpsCliTest/_apis/projects/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8"},"collection":{"href":"https://dev.azure.com/AzureDevOpsCliTest/_apis/projectCollections/c7dbc2ae-8e6f-4d56-a594-8298af308cc0"},"web":{"href":"https://dev.azure.com/AzureDevOpsCliTest/Permission_000001"}},"visibility":"private","defaultTeam":{"id":"916b87fb-a5b9-4b86-999b-7d1709b7669d","name":"Permission_000001
        Team","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/projects/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8/teams/916b87fb-a5b9-4b86-999b-7d1709b7669d"},"lastUpdateTime":"2019-11-25T12:46:06.187Z"}'
    headers:
      activityid:
      - 14590ec6-d1e5-44a7-a978-7428fbb43399
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7fc7be06-03da-44c1-9389-d976b6a2e34f
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 14590ec6-d1e5-44a7-a978-7428fbb43399
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-TFS-FedAuthRedirect:
      - Suppress
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: OPTIONS
    uri: https://vsaex.dev.azure.com/azuredevopsclitest/_apis
  response:
    body:
      string: '{"value":[{"id":"06bcc74a-1491-4eb8-a0eb-704778f9d041","area":"ClientTrace","resourceName":"Events","routeTemplate":"_apis/{area}/{resource}","resourceVersion":1,"minVersion":"4.1","maxVersion":"6.0","releasedVersion":"0.0"},{"id":"9ada205e-a0d0-4d[...]
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/AzureDevOpsCliTest/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"cff42d0f-0521-43f3-aa64-bbc264d1aba1","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"isSuccess":true,"errors":[],"userId":"3edf76f5-2dca-4f66-ba70-d574907fdda9","result":{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","user":{"subjectKind":"user","directoryAlias":"new_user_test_outlook.com#EXT#","domain":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"aad","originId":"77dd738a-1a99-4ebf-9a1e-e66cb2df7a21","displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"},"memberships":{"href":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Memberships/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"},"membershipState":{"href":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/MembershipStates/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"},"storageKey":{"href":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/StorageKeys/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"},"avatar":{"href":"https://dev.azure.com/AzureDevOpsCliTest/_apis/GraphProfile/MemberAvatars/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"}},"url":"https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Graph/Users/aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0","descriptor":"aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0"},"accessLevel":{"licensingSource":"account","accountLicenseType":"earlyAdopter","msdnLicenseType":"none","licenseDisplayName":"Early
        Adopter","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2019-11-25T12:46:15.0746266Z","projectEntitlements":[],"extensions":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - 75577403-c116-4bcf-876a-626215582bec
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 2f049bb4-45be-44cd-ab0c-6a03eb741eb4
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 75577403-c116-4bcf-876a-626215582bec
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/SecurityNamespaces?localOnly=false
  response:
    body:
      string: "{\"count\":59,\"value\":[{\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\",\"name\":\"Analytics\",\"displayName\":\"Analytics\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":2,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        analytics\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":2,\"name\":\"Administer\",\"displayName\":\"Manage
        analytics permissions\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":4,\"name\":\"Stage\",\"displayName\":\"Push
        the data to staging area\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":8,\"name\":\"ExecuteUnrestrictedQuery\",\"displayName\":\"Execute
        query without any restrictions on the query form\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":16,\"name\":\"ReadEuii\",\"displayName\":\"Read
        EUII data\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"}],\"structureValue\":1,\"extensionType\":null,\"isRemotable\":false,\"useTokenTranslator\":false,\"systemBitMask\":30},{\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\",\"name\":\"AnalyticsViews\",\"displayName\":\"AnalyticsViews\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":1024,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        shared Analytics views\",\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\"},{\"bit\":2,\"name\":\"Edit\",\"displayName\":\"Edit
        shared Analytics views\",\"namesp[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/SecurityNamespaces/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"namespaceId":"52d39943-cb85-4d7f-8fa8-c6baac873819","n[...]
- request:
    body: null
    headers:
      X-TFS-FedAuthRedirect:
      - Suppress
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: OPTIONS
    uri: https://vssps.dev.azure.com/azuredevopsclitest/_apis
  response:
    body:
      string: '{"value":[{"id":"260d23de-ca9a-488d-85e1-f39ee8b5cec5","area":"AadConditionalAccessPolicy","resourceName":"access","routeTemplate":"_apis/{area}/tenant/{tenantId}/identity/{subjectDescriptor}/{resource}","resourceVersion":1,"minVersion":"0.0","maxV[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/AzureDevOpsCliTest/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"3edf76f5-2dca-4f66-ba70-d574907fdda9","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","subjectDescriptor":"aad.YTU2ODI5ZWQtZWI0NS03OWFjLWEwNmEtZDA3OTM1NWFlNTQ0","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"aad:"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2019-11-25T00:00:00Z"},"http://schemas.microsoft.com/identity/claims/objectidentifier":{"$type":"System.String","$value":"77dd738a-1a99-4ebf-9a1e-e66cb2df7a21"},"DirectoryAlias":{"$type":"System.String","$value":"new_user_test_outlook.com#EXT#"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 2c35af8a-69e6-4424-ab02-8f0acac0b0d1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 46529631-4a00-41cc-89dd-a3d875a65bf3
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 2c35af8a-69e6-4424-ab02-8f0acac0b0d1
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":500,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/00065116-72aa-4f0b-b991-d032d90b3bf1","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/0053fd8e-8b37-40a7-8d07-eb53f54d6a59","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:/[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F4ac6cc9e-2226-410a-bfe1-6799d14e5ce8&descripto[...]
[...]
- request:
    body: '{"token": "$PROJECT:vstfs:///Classification/TeamProject/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8",
      "merge": true, "accessControlEntries": [{"allow": 65536, "deny": 0, "descriptor":
      "Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/azuredevopsclitest/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":65536,"deny":0}]}'
    headers:
      activityid:
      - 3dcb27b4-4e2e-4196-9826-313d96a8e909
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ff3671ba-bc6b-4d28-98e8-dc644560de4b
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 3dcb27b4-4e2e-4196-9826-313d96a8e909
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F4ac6cc9e-2226-410a-bfe1-6799d14e5ce8&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":65536,"deny":0,"extendedInfo":{"effectiveAllow":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 3dcb2738-4e2e-4196-9826-313d96a8e909
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ff3671ba-bc6b-4d28-98e8-dc644560de4b
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 3dcb2738-4e2e-4196-9826-313d96a8e909
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F4ac6cc9e-2226-410a-bfe1-6799d14e5ce8&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8","acesDictionary":{"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com":{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":65536,"extendedInfo":{"effectiveDeny":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 3dcb258e-4e2e-4196-9826-313d96a8e909
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ff3671ba-bc6b-4d28-98e8-dc644560de4b
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 3dcb258e-4e2e-4196-9826-313d96a8e909
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/azuredevopsclitest/_apis/Permissions/52d39943-cb85-4d7f-8fa8-c6baac873819/65536?descriptor=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com&token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F4ac6cc9e-2226-410a-bfe1-6799d14e5ce8
  response:
    body:
      string: '{"descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;72f988bf-86f1-41af-91ab-2d7cd011db47\\new_user_test@outlook.com","allow":0,"deny":0}'
    headers:
      activityid:
      - 3dcbda2c-4e2e-4196-9826-313d96a8e909
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ff3671ba-bc6b-4d28-98e8-dc644560de4b
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 3dcbda2c-4e2e-4196-9826-313d96a8e909
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/azuredevopsclitest/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F4ac6cc9e-2226-410a-bfe1-6799d14e5ce8&descriptors=Microsoft.IdentityModel.Claims.ClaimsIdentity%3B72f988bf-86f1-41af-91ab-2d7cd011db47%5Cnew_user_test%40outlook.com
  response:
    body:
      string: 'true'
    headers:
      activityid:
      - 3dcbdea7-4e2e-4196-9826-313d96a8e909
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ff3671ba-bc6b-4d28-98e8-dc644560de4b
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 3dcbdea7-4e2e-4196-9826-313d96a8e909
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/AzureDevOpsCliTest/_apis/projects/4ac6cc9e-2226-410a-bfe1-6799d14e5ce8
  response:
    body:
      string: '{"id":"8b787186-ff99-4c38-b59f-308a970cf16b","status":"notSet","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/operations/8b787186-ff99-4c38-b59f-308a970cf16b"}'
    headers:
      activityid:
      - 1459772d-d1e5-44a7-a978-7428fbb43399
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7fc7be06-03da-44c1-9389-d976b6a2e34f
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 1459772d-d1e5-44a7-a978-7428fbb43399
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azuredevopsclitest/_apis/operations/8b787186-ff99-4c38-b59f-308a970cf16b
  response:
    body:
      string: '{"id":"8b787186-ff99-4c38-b59f-308a970cf16b","status":"succeeded","url":"https://dev.azure.com/AzureDevOpsCliTest/_apis/operations/8b787186-ff99-4c38-b59f-308a970cf16b","_links":{"self":{"href":"https://dev.azure.com/AzureDevOpsCliTest/_apis/operations/8b787186-ff99-4c38-b59f-308a970cf16b"}}}'
    headers:
      activityid:
      - 48c8809a-ddd9-429f-82a3-6b291b348551
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 4b28ee05-bbd1-4847-a17a-8ec86ea2b196
      x-tfs-session:
      - 58d51e0b-998d-4fde-8ac4-931687bc9038
      x-vss-e2eid:
      - 48c8809a-ddd9-429f-82a3-6b291b348551
      x-vss-userdata:
      - 86bd48b9-6d39-40d3-b2e0-bf0e2f7f9adc:atbagga@microsoft.com
    status:
      code: 200
      message: OK
version: 1
