interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/PullRequestLiveTest/_apis/git/repositories/PullRequestLiveTest/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"value":[{"repository":{"id":"85b51565-cffa-4a6d-8deb-27af16e453b9","name":"PullRequestLiveTest","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9","project":{"id":"233f184f-32a7-441e-a9c7-48601c38ecb9","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":15,"codeReviewId":15,"status":"active","createdBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_api/_common/identityImage?id=60a59117-a1ed-6677-ab04-b3de5aa38954","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"creationDate":"2021-09-06T07:28:17.8495847Z","title":"Updated
        README.md","description":"Updated README.md","sourceRefName":"refs/heads/policy_check","targetRefName":"refs/heads/main","mergeStatus":"succeeded","isDraft":false,"mergeId":"b9d13979-e387-48f8-9fe3-8ad13fa88671","lastMergeSourceCommit":{"commitId":"10d01c75a3f84453e0cf9fc51b5d2fb6c05d0f8a","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9/commits/10d01c75a3f84453e0cf9fc51b5d2fb6c05d0f8a"},"lastMergeTargetCommit":{"commitId":"9f857dc03c6b970a7d9f47d3d7e51b376f72839b","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9/commits/9f857dc03c6b970a7d9f47d3d7e51b376f72839b"},"lastMergeCommit":{"commitId":"09ddd7d633bc373174dce5473d47fc94fbe518e6","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9/commits/09ddd7d633bc373174dce5473d47fc94fbe518e6"},"reviewers":[{"reviewerUrl":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9/pullRequests/15/reviewers/60a59117-a1ed-6677-ab04-b3de5aa38954","vote":0,"hasDeclined":false,"isRequired":true,"isFlagged":false,"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_api/_common/identityImage?id=60a59117-a1ed-6677-ab04-b3de5aa38954"}],"url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9/pullRequests/15","supportsIterations":true},{"repository":{"id":"85b51565-cffa-4a6d-8deb-27af16e453b9","name":"PullRequestLiveTest","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9","project":{"id":"233f184f-32a7-441e-a9c7-48601c38ecb9","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":14,"codeReviewId":14,"status":"active","createdBy":{"displayName":"Devops[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/git/pullRequests/14
  response:
    body:
      string: '{"repository":{"id":"85b51565-cffa-4a6d-8deb-27af16e453b9","name":"PullRequestLiveTest","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9","project":{"id":"233f184f-32a7-441e-a9c7-48601c38ecb9","name":"PullRequestLiveTest","url":"https://dev.azure.com/devops-cli-test-org/_apis/projects/233f184f-32a7-441e-a9c7-48601c38ecb9","state":"wellFormed","revision":1236,"visibility":"public","lastUpdateTime":"2021-08-27T05:34:08.067Z"},"size":725,"remoteUrl":"https://devops-cli-test-org@dev.azure.com/devops-cli-test-org/PullRequestLiveTest/_git/PullRequestLiveTest","sshUrl":"git@ssh.dev.azure.com:v3/devops-cli-test-org/PullRequestLiveTest/PullRequestLiveTest","webUrl":"https://dev.azure.com/devops-cli-test-org/PullRequestLiveTest/_git/PullRequestLiveTest","isDisabled":false},"pullRequestId":14,"codeReviewId":14,"status":"active","createdBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","image[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/policy/evaluations?artifactId=vstfs%3A%2F%2F%2FCodeReview%2FCodeReviewId%2F233f184f-32a7-441e-a9c7-48601c38ecb9%2F14
  response:
    body:
      string: '{"value":[{"configuration":{"createdBy":{"displayName":"Devops Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_api/_common/identityImage?id=60a59117-a1ed-6677-ab04-b3de5aa38954","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"createdDate":"2021-09-06T07:22:28.9414143Z","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":{"minimumApproverCount":2,"creatorVoteCounts":false,"allowDownvotes":false,"resetOnSourcePush":false,"requireVoteOnLastIteration":true,"resetRejectionsOnSourcePush":false,"blockLastPusherVote":false,"scope":[{"refName":"refs/heads/main","matchKind":"Exact","repositoryId":"85b51565-cffa-4a6d-8deb-27af16e453b9"}]},"isEnterpriseManaged":false,"_links":{"self":{"href":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/policy/configurations/42"},"policyType":{"href":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4906e5d171dd"}},"revision":2,"id":42,"url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/policy/configurations/42","type":{"id":"fa4e907d-c16b-4a4c-9dfa-4906e5d171dd","url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4906e5d171dd","displayName":"Minimum
        number of reviewers"}},"artifactId":"vstfs:///CodeReview/CodeReviewId/233f184f-32a7-441e-a9c7-48601c38ecb9%2f14","evaluationId":"1131d605-187c-4b6d-8816-e512c353b76f","startedDate":"2021-09-06T07:23:50.1137433Z","status":"queued"}],"count":1}'
    headers:
      activityid:
      - df496a6e-df7d-45de-91c0-3cfeed592fea
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - c945c357-c1ad-4855-bb6d-f9b29f4492d4
      x-tfs-session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      x-vss-e2eid:
      - df496a6e-df7d-45de-91c0-3cfeed592fea
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/policy/evaluations/1131d605-187c-4b6d-8816-e512c353b76f
  response:
    body:
      string: '{"configuration":{"createdBy":{"disp[...]
[...]
- request:
    body: '[{"op": 0, "path": "/relations/-", "value": {"attributes": {"name": "Pull
      Request"}, "rel": "ArtifactLink", "url": "vstfs:///Git/PullRequestId/233f184f-32a7-441e-a9c7-48601c38ecb9%2F85b51565-cffa-4a6d-8deb-27af16e453b9%2F14"}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/2
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"Relation already exists.","typeName":"Microsoft.Azure.Boards.WebApi.Common.RelationAlreadyExistsException,
        Microsoft.Azure.Boards.WebApi.Common","typeKey":"RelationAlreadyExistsException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - 613fb2eb-d01c-4c95-97a8-986b93518cc9
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - cfa517c9-ba7f-4db8-b2cb-f76451d1cdb1
      x-tfs-session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      x-vss-e2eid:
      - 613fb2eb-d01c-4c95-97a8-986b93518cc9
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/git/repositories/85b51565-cffa-4a6d-8deb-27af16e453b9/pullRequests/14/workitems
  response:
    body:
      string: '{"count":2,"value":[{"id":"2","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/2"},{"id":"1","url":"https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/1"}]}'
    headers:
      activityid:
      - 5ed7103f-b623-476c-8937-262fc4f3b0ad
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 13988172-a6c7-4427-b0ed-1a386c2b7e06
      x-tfs-session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      x-vss-e2eid:
      - 5ed7103f-b623-476c-8937-262fc4f3b0ad
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - 60a59117-a1ed-6677-ab04-b3de5aa38954:devops-cli@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems?ids=2%2C1
  response:
    body:
      string: '{"count":2,"value":[{"id":2,"rev":3,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamProject":"PullRequestLiveTest","System.IterationPath":"PullRequestLiveTest","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2021-09-06T07:35:17.013Z","System.CreatedBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"System.ChangedDate":"2021-09-06T07:36:23.957Z","System.ChangedBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vssps.visualstudio.com/Ab5db41ca-f3ef-48ce-a8e3-7d282463dbe2/_apis/Identities/60a59117-a1ed-6677-ab04-b3de5aa38954","_links":{"avatar":{"href":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"}},"id":"60a59117-a1ed-6677-ab04-b3de5aa38954","uniqueName":"devops-cli@outlook.com","imageUrl":"https://dev.azure.com/devops-cli-test-org/_apis/GraphProfile/MemberAvatars/msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0","descriptor":"msa.NjBhNTkxMTctYTFlZC03Njc3LWFiMDQtYjNkZTVhYTM4OTU0"},"System.CommentCount":0,"System.Title":"For
        test_pull_request_policies_workitems 2","Microsoft.VSTS.Common.StateChangeDate":"2021-09-06T07:35:17.013Z","Microsoft.VSTS.Common.Priority":2,"System.Description":"<div><span
        style=\"display:inline !important;\">Do not delete</span><br></div>"},"url":"https://dev.azure.com/devops-cli-test-org/233f184f-32a7-441e-a9c7-48601c38ecb9/_apis/wit/workItems/2"},{"id":1,"rev":3,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamProject":"PullRequestLiveTest","System.IterationPath":"PullRequestLiveTest","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2021-09-06T07:35:06.917Z","System.CreatedBy":{"displayName":"Devops
        Cli","url":"https://spsprodsin2.vs[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems?ids=2&$expand=1
  response:
    body:
      string: '{"count":1,"value":[{"id":2,"rev":3,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamPro[...]
- request:
    body: '[{"op": "test", "path": "/rev", "value": 3}, {"op": 1, "path": "/relations/0"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems/2
  response:
    body:
      string: '{"id":2,"rev":4,"fields":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 113b3d4c-06ad-483c-90c0-ff8a9e5791f7
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/devops-cli-test-org/_apis/wit/workItems?ids=1
  response:
    body:
      string: '{"count":1,"value":[{"id":1,"rev":3,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamProject":"Pul[...]
[...]
