# This pipeline
# 1. Runs manually
# 2. Makes sure master branch is in healthy state (run live tests)

trigger: none

pr: none

jobs:

- job: 'Run_Test_Ubuntu'
  pool:
    vmImage: 'Ubuntu-16.04'
  
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - task: PowerShell@2
    displayName: 'Setup test machine'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/setupCiMachine.ps1'

  # Run a Python script.
  - task: PythonScript@0
    inputs:
      scriptSource: 'filePath'
      scriptPath: 'scripts/prepareLiveRecordingTestsRun.py'
      failOnStderr: true
    env:
      AZURE_DEVOPS_EXT_PAT: $(System.AccessToken)

  - task: PowerShell@2
    displayName: 'Run Tests'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/runTests.ps1'
      # Do not run UTs since this is only for live run
      arguments: '-outputTestResultAsJunit $True -run_UT $False -pat $mypat'
    env:
      AZURE_DEVOPS_EXT_PAT: $(System.AccessToken)

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()
