# This pipeline is used to do new release of Azure DevOps CLI extension
# This
# 1. Runs test cases
# 2. Creates a wheel and publishes it as artifact
# 3. Creates a tag in github

pr: none

trigger: none

jobs:

- job: 'Build_Publish_Azure_DevOps_CLI_Extension'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - template: templates/build-publish-azure-devops-cli-extension.yml

- job: 'Build_Publish_Azure_CLI_Test_SDK'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - template: templates/build-publish-azure-cli-test-sdk.yml

- job: 'Run_Test'
  dependsOn : Build_Publish_Azure_CLI_Test_SDK
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - template: templates/run-tests.yml
    parameters:
      pythonVersion: '3.7.0'

- job: 'Calculate_Sha'
  dependsOn : Build_Publish_Azure_CLI_Test_SDK
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: DownloadBuildArtifacts@0
    displayName : 'Download Extension wheel from Build Artifacts'
    inputs:
      buildType: 'current'
      downloadType: 'single'
      artifactName: 'azure-devops-cli-extension'
      downloadPath: '$(System.ArtifactsDirectory)/extension'

  - task: PowerShell@2
    displayName: 'Calculate Sha for downloaded extension'
    inputs:
      targetType: 'inline'
      script: |
        $extensions = Get-ChildItem -Filter "*.whl" -Recurse | Select-Object FullName
        Foreach ($extension in $extensions)
        {
            Write-Host "calculating sha for " $extension.FullName   
            certutil -hashfile $extension.FullName sha256
        }
        Write-Host "done"
      workingDirectory: '$(System.ArtifactsDirectory)/extension'

  # GitHub Release
  # Create, edit, or delete a GitHub release.
  - task: GitHubRelease@0
    inputs:
      gitHubConnection: gauravsaralMs
      repositoryName: gauravsaralMs/azure-devops-cli-extension
      action: 'create'
      target: '$(Build.SourceVersion)'
      tagSource: '0.3.0'
      tag: '0.3.0'
      title: 'Azure DevOps CLI extension for Azure CLI 0.2.0'
      #releaseNotesSource: 'file' # Optional. Options: file, input
      #releaseNotesFile: # Optional
      #releaseNotes: # Optional
      assets: '$(System.ArtifactsDirectory)/extension/**/*.whl' 
      assetUploadMode: 'delete'
      isDraft: true
      isPreRelease: true
      addChangeLog: true 
