# This pipeline
# 1. Runs when a PR is raised against working branch
# 2. Makes sure working branch is in healthy state (run tests across platforms)
# 3. Run style check and code coverage

pr:
- master

trigger: none

jobs:

- job: 'Build_Publish_Azure_DevOps_CLI_Extension'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - template: templates/build-publish-azure-devops-cli-extension.yml

- job: 'Build_Publish_Azure_CLI_Test_SDK'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - template: templates/build-publish-azure-cli-test-sdk.yml

- job: 'Run_Test_Ubuntu'
  dependsOn : Build_Publish_Azure_CLI_Test_SDK
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7.15'
      Python36:
        python.version: '3.6.5'
      Python37:
        python.version: '3.7.0'
    maxParallel: 3

  steps:
  - template: templates/run-tests.yml
    parameters:
      pythonVersion: '$(python.version)'

- job: 'Run_Test_Mac'
  dependsOn : Build_Publish_Azure_CLI_Test_SDK
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - template: templates/run-tests.yml
    parameters:
      pythonVersion: '3.7.0'

- job: 'Run_Test_Windows'
  dependsOn : Build_Publish_Azure_CLI_Test_SDK
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - template: templates/run-tests.yml
    parameters:
      pythonVersion: '3.7.2'

- job: 'Code_Coverage'
  dependsOn: 'Build_Publish_Azure_CLI_Test_SDK'
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - script: pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge
    displayName: 'Install Azure CLI'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - template: templates/download-install-local-azure-devops-cli-extension.yml

  - script: pytest --junitxml "TEST-UT-results.xml" --cov=azext_devops/dev --cov-report=xml --cov-report=html
    displayName: 'run unit tests for code coverage'
    workingDirectory: 'azure-devops'
 
  - script: pip install beautifulsoup4
    displayName: 'install beautifulsoup4'

  - task: PythonScript@0
    inputs:
      scriptSource: 'filePath' # Options: filePath, inline
      scriptPath: 'scripts/fixCodeCoverageStyle.py'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/azure-devops/coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/azure-devops/htmlcov'
      additionalCodeCoverageFiles: '$(System.DefaultWorkingDirectory)/azure-devops/htmlcov/**/*.*'

- job: 'Run_Style_Check'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - script: pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge
    displayName: 'Install Azure CLI'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - task: PowerShell@2
    displayName: 'Run Style Check'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/runStyleCheck.ps1'

- job: 'Run_HelpText_Check'
  dependsOn: 'Build_Publish_Azure_CLI_Test_SDK'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - script: pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge
    displayName: 'Install Azure CLI'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - script: 'pip install --upgrade .'
    displayName: 'Install Azure DevOps CLI extension'
    workingDirectory: 'azure-devops/'

  - task: PythonScript@0
    displayName: 'Run HelpText Check'
    inputs:
      scriptSource: 'filePath'
      scriptPath: 'scripts/findEmptyHelpTexts.py' 

- job: 'Check_Back_Compat_Arguments'
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.2'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - script: pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge
    displayName: 'Install Azure CLI'

  - script: 'python setup.py sdist bdist_wheel'
    displayName: 'Build wheel for Azure DevOps CLI extension'
    workingDirectory: 'azure-devops/'

  - task: PythonScript@0
    displayName: 'Run Back Compat Argument Check'
    inputs:
      scriptSource: 'filePath'
      scriptPath: 'scripts/backCompatChecker.py' 

- job: 'Run Markdown Lint Check'
  pool:
    vmImage: 'macOS-10.13'
  
  steps:
  - script: gem install mdl
    displayName: 'Install markdown lint'

  - script: mdl . -c .mdlrc
    displayName: 'Run markdown lint'