# This pipeline
# 1. Runs manually
# 2. Makes sure master branch is in healthy state (run live tests)

trigger: none

pr: none

jobs:

- job: 'Run_Test_Ubuntu'
  pool:
    vmImage: 'Ubuntu-16.04'
  
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - template: templates/setup-ci-machine.yml

  - script: pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge
    displayName: 'Install Azure CLI'

  - script: pip install "git+https://github.com/Azure/azure-cli@master#egg=azure-cli-testsdk&subdirectory=src/azure-cli-testsdk" -q
    displayName: 'Install Azure Test SDK'

  # Run a Python script.
  - task: PythonScript@0
    inputs:
      scriptSource: 'filePath'
      scriptPath: 'scripts/prepareLiveRecordingTestsRun.py'
      failOnStderr: true
    env:
      AZURE_DEVOPS_EXT_PAT: $(pat)

  - script: pytest tests --junitxml "TEST-results.xml"
    displayName: 'Run Tests'
    env:
      AZURE_DEVOPS_EXT_PAT: $(pat)

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()
