# This pipeline
# 1. Runs when a PR is raised against working branch
# 2. Makes sure working branch is in healthy state (run tests across platforms)
# 3. Run style check and code coverage

pr:
- master

trigger: none

jobs:

- job: 'Build_Publish_Azure_DevOps_CLI_Extension'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - template: templates/build-publish-azure-devops-cli-extension.yml

- job: 'Build_Publish_Azure_CLI_Test_SDK'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/setup-ci-machine.yml

  - template: templates/build-publish-azure-cli-test-sdk.yml

- job: 'Run_Unit_Test_Ubuntu'
  dependsOn : Build_Publish_Azure_CLI_Test_SDK
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7.15'
      Python36:
        python.version: '3.6.5'
      Python37:
        python.version: '3.7.0'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - script: pytest 'azure-devops/' --junitxml "TEST-UT-results.xml"
    displayName: 'Run Unit Tests'
 
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()

- job: 'Run_Recording_Test_Ubuntu'
  dependsOn: ['Build_Publish_Azure_CLI_Test_SDK','Build_Publish_Azure_DevOps_CLI_Extension']
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7.15'
      Python36:
        python.version: '3.6.5'
      Python37:
        python.version: '3.7.0'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - template: templates/download-install-local-azure-devops-cli-extension.yml

  - script: pytest 'azure-devops/' --junitxml "TEST-UT-results.xml"
    displayName: 'Run Unit Tests'

  - script: pytest 'tests/' --junitxml "TEST-recordings-results.xml"
    displayName: 'Run Recording Tests'
  
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()

- job: 'Run_Test_Windows'
  dependsOn: ['Build_Publish_Azure_CLI_Test_SDK','Build_Publish_Azure_DevOps_CLI_Extension']
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - template: templates/download-install-local-azure-devops-cli-extension.yml

  - script: pytest 'azure-devops/' --junitxml "TEST-UT-results.xml"
    displayName: 'Run Unit Tests'

  - script: pytest 'tests/' --junitxml "TEST-recordings-results.xml"
    displayName: 'Run Recording Tests'
  
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()

- job: 'Run_Test_Mac'
  dependsOn: ['Build_Publish_Azure_CLI_Test_SDK','Build_Publish_Azure_DevOps_CLI_Extension']
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - template: templates/download-install-local-azure-devops-cli-extension.yml

  - script: pytest 'azure-devops/' --junitxml "TEST-UT-results.xml"
    displayName: 'Run Unit Tests'

  - script: pytest 'tests/' --junitxml "TEST-recordings-results.xml"
    displayName: 'Run Recording Tests'
  
  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()

- job: 'Run_Test_With_Published_Wheel'
  dependsOn: 'Run_Test_Mac'
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - template: templates/download-install-local-azure-devops-cli-extension.yml

  - script: pytest 'tests/' --junitxml "TEST-recordings-results.xml"
    displayName: 'Run Recording Tests'

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**TEST-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()

- job: 'Code_Coverage'
  dependsOn: ['Build_Publish_Azure_CLI_Test_SDK','Build_Publish_Azure_DevOps_CLI_Extension']
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - task: PowerShell@2
    displayName: 'Run Tests'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/runTests.ps1'
      arguments: '$True'
 
  - script: pip install beautifulsoup4
    displayName: 'install beautifulsoup4'

  - task: PythonScript@0
    inputs:
      scriptSource: 'filePath' # Options: filePath, inline
      scriptPath: 'scripts/fixCodeCoverageStyle.py'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/htmlcov'
      additionalCodeCoverageFiles: '$(System.DefaultWorkingDirectory)/htmlcov/**/*.*'

- job: 'Run_Style_Check'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.6'
      architecture: 'x64'

  - task: PowerShell@2
    displayName: 'Run Style Check'
    inputs:
      targetType: 'filePath'
      filePath: 'scripts/runStyleCheck.ps1'

- job: 'Run_HelpText_Check'
  dependsOn: 'Build_Publish_Azure_CLI_Test_SDK'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7.0'
      architecture: 'x64'

  - template: templates/download-install-local-azure-test-sdk.yml

  - template: templates/setup-ci-machine.yml

  - template: templates/download-install-local-azure-devops-cli-extension.yml

  - task: PythonScript@0
    displayName: 'Run HelpText Check'
    inputs:
      scriptSource: 'filePath'
      scriptPath: 'scripts/findEmptyHelpTexts.py' 